<div class="dpList">
    <br>
    <div class="row">
      <div class="col-md-6">
         <h2>Purchase Requisition / List</h2>
      </div>
      <div class="col-md-6">
       <a href="/purchase-requisition/create" class="btn btn-primary create-new" id="create-new" >Create New</a>
      </div>
    </div>
      <br>
      <div class="form-inline row">
            <div class="col-md-3">
              <label for="plan-name">WH Name:</label><br>
              <select class="form-control">
                <option>Select</option>
                <option>A</option>
                <option>B</option>
              </select>
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control" id="plan-name">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control" id="plan-name">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Sales Order:</label><br>
              <input type="text" class="form-control" id="plan-name">
            </div>
            <br><br><br><br>
            <div class="col-md-3">
                <label for="plan-name">Demand Plan No.:</label><br>
                <input type="text" class="form-control" id="plan-name">
              </div>
            
              <div class="col-md-3">
                  <label for="plan-name">Store Request No.:</label><br>
                  <input type="text" class="form-control" id="plan-name">
                </div>
                  
           
                <div class="col-md-6">
                    <br>
                    <a href="#" class="btn btn-primary bttn" id="filter" >Create</a>
                    <a href="#" class="btn btn-primary bttn"  id="filter" >Create PO</a>
                  </div>
                 
        </div>
        <hr />

        <div class="row">
          <div class="col-md-12 table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>PR No</th>
              <th>PR Date</th>
              <th>PR Status</th>
              <th>Item Code</th>
              <th>Description</th>
              <th>Qty</th>
              <th>BUOM</th>
              <th>Creation Mode</th>
              <th>Created By</th>
              <th>Edit</th>
              <th>View</th>
              <th>Selection</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>8004321</td>
                <td>10/11/2018</td>
                <td>Draft</td>
                <td>84380210</td>
                <td>R.B.R. Co. Aviation Parts</td>
                <td>84</td>
                <td>Units</td>
                <td>Default Mode</td>
                <td>Ellen DeGeneres</td>
                <td><a href="/purchase-requisition/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a></td>
                <td><a href="/purchase-requisition/view"><i class="fa fa-folder view" aria-hidden="true"></i></a></td>
                <td class="text-center"><input type="checkbox" class="chbx"></td>

            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
          