.col-md-3{
  align-content: flex-start;
  position: relative;
  text-align: left;
  vertical-align: left;
}
.filter{
  width: 70%;
  position: relative;
}
label{
  text-align: left;
  position: relative;
  float: left;

}
.create-new{
  float: right;
}
.dpList{
  margin-right: 20px;
}
.table{
  margin-right: 20px;
  
}
::-webkit-scrollbar {
  width: 0.15em;
  height: 0.15em;
}

::-webkit-scrollbar-thumb {
  background: slategray;
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}

body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto";
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

body {
  background: #f8f8f8;
}

button.btn {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0px;
}
button.btn i {
  margin-right: 3px;
}

body.large-screen .table-wrapper {
  max-width: 800px;
}
body.large-screen .card-list-table {
  background: white;
}
body.large-screen .card-list-table tbody tr {
  background: transparent;
  box-shadow: none;
  margin: 0;
}
body.large-screen .card-list-table tbody tr:nth-of-type(even) {
  background: #dfdfdf;
}
body.large-screen .card-list-table thead {
  display: table-header-group;
}
body.large-screen .card-list-table thead th:last-child {
  box-shadow: none;
}
body.large-screen .card-list-table thead th {
  border-bottom: 1px solid #dfdfdf;
  padding: 12px 24px;
}
body.large-screen .card-list-table tbody tr {
  display: table-row;
  padding-bottom: 0;
}
body.large-screen .card-list-table tbody tr:nth-of-type(even) {
  background: #fff;
}
body.large-screen .card-list-table tbody td {
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  display: table-cell;
  padding: 20px 24px;
  transition: background 0.2s ease-out;
  vertical-align: middle;
}
body.large-screen .card-list-table tbody td:after {
  display: none;
}
body.large-screen .card-list-table tbody td:before {
  content: "";
}
body.large-screen .card-list-table tbody tr:hover td {
  background: #fcf3d0;
}

.buttons {
  margin: 10px 0 50px;
}

.table-wrapper {
  max-width: 300px;
  width: 80%;
  margin: 0 auto 0;
  max-height: 500px;
  overflow-y: scroll;
  position: relative;
  transition: all 0.2s ease-out;
}
@media (min-width: 768px) {
  .table-wrapper {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }
}

.card-list-table {
  table-layout: fixed;
  background: transparent;
  margin-bottom: 0;
  width: 100%;
}
.card-list-table thead {
  display: none;
}
.card-list-table tbody tr {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  display: block;
  padding: 15px 10px;
  margin: 0 0 10px 0;
}
.card-list-table tbody td {
  border: 0;
  display: block;
  padding: 10px 10px 20px 40%;
  position: relative;
}
.card-list-table tbody td:first-of-type::after {
  visibility: hidden;
}
.card-list-table tbody td:after {
  content: "";
  width: calc(100% - 30px);
  display: block;
  margin: 0 auto;
  height: 1px;
  background: #dfdfdf;
  position: absolute;
  left: 0;
  right: 0;
  top: -6px;
}
.card-list-table tbody td:before {
  color: rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  font-size: 0.85em;
  content: attr(data-title);
  display: table-cell;
  font-weight: 500;
  height: 100%;
  left: 15px;
  margin: auto;
  position: absolute;
  vertical-align: middle;
  white-space: nowrap;
  width: 40%;
}
.card-list-table thead th {
  text-transform: uppercase;
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.35);
  letter-spacing: 0.5pt;
}

.col-md-3{
  align-content: flex-start;
  position: relative;
  text-align: left;
  vertical-align: left;
}
.filter{
  width: 70%;
  position: relative;
}
label{
  text-align: left;
  position: relative;
  float: left;

}
.upBtn{
  float: right;
  margin: 2px;
}
.dpCreate{
  margin-right: 20px;
}


.sqbox{
  max-width: 35px;
  max-height:40px;
  min-width: 35px;
  min-height:40px;
}
.del{
  color: red;
}
.edit{
  color: blue;
}
.view{
  color: black;
}