<div class="dpList">
  <br>
  <div class="row">
      <div class="col-md-4">
          <h2>Demand Plan / List</h2>
      </div>
      <div class="col-md-8">
          <a href ="/demandplan/create" class="btn btn-primary create-new" id="create-new">Create New</a>
      </div>
    </div>
 
  
    
    <div class="form-inline row">
          <div class="col-md-3">
            <label for="plan-name">Plan Name:</label><br>
            <input type="text" class="form-control"  id="plan-name">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">Plan No:</label><br>
            <input type="text" class="form-control"  id="plan-name">
          </div>
          
          <div class="col-md-3">
              <label for="">For Mrp:</label><br>
              <select class="form-control chzn-select" style="width:100%" style="width:100%">
                  <option value=""> Select</option>
                  <option value="">Yes</option>
                  <option value="">No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="">WH Name:</label><br>
              <select class="form-control chzn-select" >
                  <option value=""> Select</option>
                  <option value=""> A</option>
                  <option value=""> B</option>
              </select>
              
            </div>
            <br><br><br>
            <div class="dropdown col-md-3">
              <label for="">Status:</label><br>
              <select class="form-control chzn-select" >
                <option value=""> Select</option>
                <option value=""> A</option>
                <option value=""> B</option>
            </select>
            </div>
          <div class="col-md-3">
              
              <label>Version No:</label>
              <input type="text" class="form-control"  id="">
            </div>

          <div class="col-md-3">
            <br>
            <a href ="#" class="btn btn-primary filter" id="create-new">Search</a>
          
          </div>
      </div>
      <hr />

    
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Demand Plan No</th>
            <th>Plan Name</th>
            <th>Version No</th>
            <th>Status</th>
            <th>Use for MRP</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>8004321</td>
              <td>Bisleri Bottles</td>
              <td>v1.6</td>
              <td>Inprocess</td>
              <td>YES</td>
              <td><a href="/demandplan/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a></td>
              <td><a href="/demandplan/view"><i class="fa fa-folder-open view" aria-hidden="true"></i></a></td>
              <td><i class="fa fa-trash del" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
