<div class="dpList">
    <br>
    <div class="row">
      <div class="col-md-4">
       <h2>MRP / List</h2>
      </div>
      <div class="col-md-8">
        <a href="#" class="btn btn-primary upBtn" id="cancel" >Cancel</a>
        <a href="#" class="btn btn-primary upBtn" id="submit" >Submit</a> 
      </div>
  </div>
    
      <div class="form-inline row">
  
          <div class="col-md-3">
              <label for="plan-name">WH Name:</label><br>
              <select class="form-control">
                  <option>Select</option>
                  <option>A</option>
                  <option>B</option>
                </select>
            </div>
  
            <div class="col-md-3">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Sales Order:</label><br>
              <input type="text" class="form-control">
            </div>

            <br><br><br><br>
            <div class="col-md-3">
              <label for="plan-name">Demand Plan:</label><br>
              <input type="text" class="form-control" >
            </div>
            <div class="col-md-3">
              <br>
              <a href="#" class="btn btn-primary filter" id="search" >Search</a>
            </div>
        </div>
        <hr />
      
        <div class="row">
          <div class="col-md-12 table-responsive ">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Item Code</th>
                      <th scope="col">FG Item Desc.</th>
                      <th scope="col">Total Comp. Qty. </th>
                      <th scope="col">Net Req. Qty</th>
                      <th scope="col">Output No.</th>
                      <th>Purchase Request</th>
                      <th>Production Order</th>
                      <th>Store Request</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <th scope="row">#52112</th>
                      <td>Bottle</td>
                      <td>500</td>
                      <td>500</td>
                      <td>25021</td>                     
                      <td> <a href="#"><i class="fa fa-folder pr" aria-hidden="true"></i></a></td>
                      <td><a href="#"><i class="fa fa-folder po" aria-hidden="true"></i></a></td>
                      <td> <a href="#"><i class="fa fa-folder sr" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr >
                      <th scope="row">#555251</th>
                      <td>Bag</td>
                      <td>450</td>
                      <td>300</td>
                      <td>23521</td>                     
                      <td> <a href="#"><i class="fa fa-folder pr" aria-hidden="true"></i></a></td>
                      <td><a href="#"><i class="fa fa-folder po" aria-hidden="true"></i></a></td>
                      <td> <a href="#"><i class="fa fa-folder sr" aria-hidden="true"></i></a></td>
                    </tr>
                  </tbody>
                </table>
           </div>
        </div> 
        <br>
        <br>
        <br>


    </div>