    <div id="top">
        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="col-md-2">
                    <header class="navbar-header">
                        <a href="#!/Home" class="navbar-brand" style="min-width:100px ;background:#fff; border-radius:1em"><img src="/Content/assets/img/Logo.png" style="width:150px; height:45px; padding:4px" alt="">
                        BKMIST</a>
                        <span></span>


                    </header>
                </div>
                <div class="col-md-10">
                    
                    <div class="topnav  pull-right">

                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip"
                               class="btn btn-default btn-sm" id="toggleFullScreen">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            
                            <a data-placement="bottom" data-original-title="MyAccount" href="#!/MyAccount" data-toggle="tooltip"
                               class="btn btn-default btn-sm">
                                <i class="fa fa-user" aria-hidden="true"></i>&nbsp; My Account
                                
                            </a>
                            
                        </div>
                        <div class="btn-group">
                            <a href="#!/logout" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
                               class="btn btn-metis-1 btn-sm">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            

                        </div>

                    </div>

                </div>
            </div>
        </nav>
        <!-- /.navbar -->

</div>