<div class="dpCreate">
  <br>

  <h2>Detail Plan / Create</h2>
  <button class="btn btn-primary upBtn" type="button" id="back" >Back</button>
  <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
  <button class="btn btn-primary upBtn" type="button" (click)="updateValue()" >Submit</button> 
  <br><br>
  <form class="form-inline" [formGroup]="demandPlanCreateForm"  (ngSubmit)="onSubmit()">
      <div class="col-md-3">
        <label for="plan-name">Plan Name:</label><br>
        <input type="text" class="form-control" formControlName="planName"        >
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">Plan No:</label><br>
        <input type="text" class="form-control" formControlName="planNo">
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">For Mrp:</label><br>
        <input type="text" class="form-control" formControlName="forMrp">
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">BE Name:</label><br>
        <input type="text" class="form-control" formControlName="beName">
      </div>
      
      <div class="dropdown col-md-3">
        <label for="reason-code">Status:</label><br>
        <select class="form-control chzn-select" style="width: 90%" formControlName="status">
          <option value="Select"> Select</option>
          <option value="A"> A</option>
          <option value="B"> B</option>
      </select>
      </div>
        
      <div class="col-md-3">
        <br>
          <button class="btn btn-primary filter" type="submit" [disabled]="!demandPlanCreateForm.valid" >Create</button>
      </div>
  </form>
  <p>
    Form Status: {{ demandPlanCreateForm.status }}
  </p>
  <hr />
  <table class="table table-hover">
    <thead>
      <tr>
          <th>FG Item No.</th>
          <th>FG Item Description</th>
          <th>BUOM</th>
          <th>JAN</th>
          <th>FEB</th>
          <th>MAR</th>
          <th>APR</th>
          <th>MAY</th>
          <th>JUN</th>
          <th>JUL</th>
          <th>AUG</th>
          <th>SEP</th>
          <th>OCT</th>
          <th>NOV</th>
          <th>DEC</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>8004321</td>
            <td>Bisleri Bottles</td>
            <td>Litre</td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
      
        
        
      <tr>
          <td>8004322</td>
          <td>Kenley  Bottles</td>
          <td>Litre</td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><i class="fa fa-trash" aria-hidden="true"></i></td>
      </tr>
      
    </tbody>
  </table>
</div>