<div class="dpCreate">
  <br>
    
  <h2>Detail Plan / Create</h2>
  <button class="btn btn-primary upBtn" type="button" id="back" >Back</button>
  <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
  <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button> 
  <br><br>
  <div class="form-inline">
      <div class="col-md-3">
        <label for="plan-name">Plan Name:</label><br>
        <input type="text" class="form-control" id="plan-name">
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">Plan No:</label><br>
        <input type="text" class="form-control" id="plan-name">
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">For Mrp:</label><br>
        <input type="text" class="form-control" id="plan-name">
      </div>
      
      <div class="col-md-3">
        <label for="plan-name">BE Name:</label><br>
        <input type="text" class="form-control" id="plan-name">
      </div>
      
      <div class="dropdown col-md-3">
        <label for="status">Status</label><br>
        <button class="btn btn-default dropdown-toggle " type="button" id="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Status
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="status">
          <li><a href="#">Created</a></li>
          <li><a href="#">Valid</a></li>
          <li><a href="#">Invalid</a></li>
          <li><a href="#">Closed</a></li>
        </ul>
      </div>
        
      <div class="col-md-3">
        <br>
          <button class="btn btn-primary filter" type="button" id="submit" >Create</button>
      </div>
  </div>
  <hr />

  <table class="table table-hover">
    <thead>
      <tr>
          <th>FG Item No.</th>
          <th>FG Item Description</th>
          <th>BUOM</th>
          <th>JAN</th>
          <th>FEB</th>
          <th>MAR</th>
          <th>APR</th>
          <th>MAY</th>
          <th>JUN</th>
          <th>JUL</th>
          <th>AUG</th>
          <th>SEP</th>
          <th>OCT</th>
          <th>NOV</th>
          <th>DEC</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>8004321</td>
            <td>Bisleri Bottles</td>
            <td>Litre</td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td><i class="fa fa-trash" aria-hidden="true"></i></td>
        </tr>
      
        
        
      <tr>
          <td>8004322</td>
          <td>Kenley  Bottles</td>
          <td>Litre</td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><input type="text" class="form-control sqbox" ></td>
          <td><i class="fa fa-trash" aria-hidden="true"></i></td>
      </tr>
      
    </tbody>
  </table>
</div>