<div class="dpList">
    <br>
  <div class="row">
    <div class="col-md-4">
      <h2>Routing / Edit</h2>
    </div>
    <div class="col-md-8">
      <a (click)="goroutinglist()" class="btn btn-primary upBtn" id="back" >Back</a>
      <a  class="btn btn-primary upBtn"  id="cancel" >Cancel</a>
      <a   class="btn btn-primary upBtn"  id="submit" >Update</a>
    </div> 
  </div>
    
    <div class="form-inline row">
        <div class="col-md-3">
          <label for="item-code">Item Code:</label><br>
          <input type="text" class="form-control"   id="item-code" disabled>
        </div>
        
        <div class="col-md-3">
          <label for="item-description">Item-Description:</label><br>
          <input type="text" class="form-control"   id="item-description">
        </div>
        
        <div class="col-md-3">
          <label for="version-no">Version No:</label><br>
          <input type="text" class="form-control"   id="version-no">
        </div>
        
        <div class="col-md-3">
          <label for="wh-name">WH Name:</label><br>
          <select class="form-control"  formControlName="whname">
              <option value=""> Select</option>
              <option value="">Mumbai</option>
              <option value="">Pune</option>
              <option value="">Delhi</option>
          </select>
        </div>
          
        <div class="col-md-3">
          <br>
            <a  class="btn btn-primary filter" id="submit" >Change Header</a>
        </div>
    </div>
    <hr />
    
    <div class="row">
        <div class="col-md-12">
            <div class="list-group-item" id="grandparent">
        <table>
          
          <tr>
              <td>
                  <div class="card">
                      <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="">Step No:</label><br>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                                <label for="">Step Name:</label><br>
                                <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Procedure:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Work Centre:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <br><br><br>
                            
                            <div class="col-md-12 pull-right"> 
                                    <br>                   
                              <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x  pull-right" aria-hidden="true" data-target="#grandparentContent" data-toggle="collapse"></i>
                            </div>
                        </div>
               
                            
                        <div class="row collapse" id="grandparentContent">
                            <div class="col-md-3">
                                <label for="">Time UOM:</label><br>
                                <input type="text" class="form-control" id="">
                              </div>
                              <div class="col-md-3">
                                <label for="">Planned Labour Time:</label><br>
                                <input type="text" class="form-control" id="">
                              </div>
                           
                            <div class="col-md-3">
                              <label for="">Planned M/C Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            
                            <div class="col-md-3">
                              <label for="">Planned Setup Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                          
                        
                               <br><br><br><br>
                             
                            <div class="col-md-3">
                              <label for="">Total Planned Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                           
                            <div class="col-md-3">
                              <label for="">Step Type:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                           
                            <div class="col-md-3">
                                <label for="">Step Category:</label><br>
                                <input type="text" class="form-control" id="">
                              </div>
                            <div class="col-md-3">
                            <label for="">Step Status:</label><br>
                            <select class="form-control" >
                                <option value=""> Select</option>
                                <option value="">Created</option>
                                <option value="">Inprocess</option>
                            </select>
                            </div>
                             <br><br><br><br>
                          
                            <div class="col-md-3">
                            <label for="">User Name:</label><br>
                            <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                            <label for="">Supervisor Name:</label><br>
                            <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <br>
                                <i class="fa fa-trash del fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>

                      </div>
                  </div>
                  
               
              </td>
          </tr>

          
        </table>   
            </div>
        </div>
    </div>

<br><br><br>
  </div>