<div class="dpList">
    <br>
    <h2>Production Order / Create</h2>
    
    <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
    <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button> 
      <br><br>
      <div class="form-inline">
            <div class="col-md-2">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-5">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-2">
              <label for="plan-name">Quantity:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">BUOM:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="col-md-2">
              <label for="plan-name">BOM Version:</label><br>
              <input type="text" class="form-control" readonly value="2">
            </div>
            <div class="col-md-2">
              <label for="plan-name">BOM No:</label><br>
              <input type="text" class="form-control" readonly value="399">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">BOM Status:</label><br>
              <input type="text" class="form-control" readonly value="Draft">
            </div>
            <div class="col-md-4">
              <label for="plan-name">WH Name:</label><br>
              <input type="text" class="form-control" >
            </div>
            <!-- <div class="col-md-3"  style="align-content: left;position: relative; text-align: left; float: left;">
              <br>
              <button class="btn btn-primary filter" type="button" id="filter" >Submit</button>
            </div> -->
        </div>
        <hr />
  
        <table>
            <tr>
                <td>
                    <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-3">
                              <label for="">Procedure:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-2">
                              <label for="">WC:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-2">
                              <label for="">Time UOM:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-2">
                              <label for="">Planned Labour Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-2">
                              <label for="">Actual Labour Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-1">
                            <br><br>
                              <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x" aria-hidden="true" data-target="#grandparentContent" data-toggle="collapse"></i>
                            </div>
                            </div>
                  
                                  <br>
                                  <div class="row collapse" id="grandparentContent">
                            <div class="col-md-3">
                              <label for="">Planned M/C Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Actual M/C Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Planned Setup Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Actual Setup Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            
                            <br><br><br><br>
                            
                              <div class="col-md-3">
                              <label for="">Total Planned Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Total Actual Time:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Step Type:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Step Category:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            
                              <br><br><br><br>
                            
                              <div class="col-md-3">
                              <label for="">Step Status:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">User Name:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                              <label for="">Supervisor Name:</label><br>
                              <input type="text" class="form-control" id="">
                            </div>
                            <div class="col-md-3">
                            <br><br>
                                  <span><i class="fa fa-trash fa-2x" aria-hidden="true"></i></span>           
                            </div>
                            </div>							
                          </div>
                      </div>
                    
                </td>
            </tr>
            
        </table>
    </div>