<div class="dpList">
    <br>
    <h2>Confirmation/ Production Order</h2>
<!--     
    <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
    <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button>  -->
      <br>  
      <div class="form-inline">
        <h2>Header</h2>
          <div class="card">
              <div class="card-body">
                <div class="row">
                  
                    <div class="col-md-2">
                        <label for="plan-name">Prod Order No:</label><br>
                        <input type="text" class="form-control" >
                      </div>
          
                      <div class="col-md-2">
                          <label for="plan-name">Step No.:</label><br>
                          <input type="text" class="form-control" >
                        </div>
                        
                    <div class="col-md-3">
                        <label for="plan-name">Step Description:</label><br>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="col-md-2">
                          <label for="plan-name">Confirmation No.:</label><br>
                          <input type="text" class="form-control" >
                        </div>
                        <div class="col-md-3">
                            <label for="plan-name">WH Name:</label><br>
                            <input type="text" class="form-control" >
                          </div>
                          
                        <div class="col-md-3" >
                            <label>Final Confirmation:</label><br>
                            <input type="checkbox" class="form-control" >
                          </div>
                          
                        <div class="col-md-2">
                            <label for="plan-name">Qty:</label><br>
                            <input type="text" class="form-control" >
                          </div>
                          
                        <div class="col-md-2">
                            <label for="plan-name">Qty Produced:</label><br>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="col-md-2">
                              <label for="plan-name">BUOM:</label><br>
                              <input type="text" class="form-control" >
                            </div>
                          <div class="col-md-1  offset-2">
                              <br><br>
                                <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x" aria-hidden="true" data-target="#grandparentContent" data-toggle="collapse"></i>
                              </div>
                  </div>
                  <hr/>
                  <div class="row collapse" id="grandparentContent">
                                      
                      <div class="col-md-3">
                          <label for="plan-name">Step Type:</label><br>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">Step Category:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">Step Status:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">Labor Type:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">User Name:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">Manager Name:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        
                        <div class="col-md-3">
                            <label for="reason-code">Time UOM:</label><br>
                            <select class="form-control chzn-select" style="width: 90%">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                        </div>
                        <div class="col-md-3">
                            <label for="plan-name">Planned Labour Time:</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                          <div class="col-md-2">
                            <label for="plan-name">Actual Labour Time::</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                          <div class="col-md-2">
                            <label for="plan-name">Planned Setup Time::</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                          <div class="col-md-2">
                            <label for="plan-name">Actual Setup Time::</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                          <div class="col-md-2">
                            <label for="plan-name">Planned M/C Time::</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                          <div class="col-md-2">
                              <label for="plan-name">Actual M/C Time::</label><br>
                              <input type="text" class="form-control">
                            </div>
                        
                          
                            <div class="col-md-2">
                                <label for="plan-name">Total Time::</label><br>
                                <input type="text" class="form-control">
                              </div>
                              
                          <div class="col-md-3"  style="align-content: left;position: relative; text-align: left; float: left;">
                              <br>
                              <button class="btn btn-primary filter" type="button" id="add" >ADD</button>
                            </div>
                  </div>							
                </div>
            </div>
        </div>
        <div class="form-everytable">
            <h2>Table</h2>

          </div>

<hr/>
 </div>