<div class="dpList">
    <br>
    <h2>Confirmation/ Production Order</h2>
<!--     
    <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
    <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button>  -->
      <br><br>
      <div class="form-inline">
        
          <div class="card">
              <div class="card-body">
                <div class="row">
                  
                    <div class="col-md-4">
                        <label for="plan-name">WH Name:</label><br>
                        <input type="text" class="form-control" >
                      </div>
          
                      <div class="col-md-3 offset-5">
                          <label for="plan-name">Date:</label><br>
                          <input type="text" class="form-control" >
                        </div>
                        
                    <div class="col-md-3">
                        <label for="plan-name">Requistor:</label><br>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="col-md-3">
                          <label for="plan-name">Department:</label><br>
                          <input type="text" class="form-control" >
                        </div>
                        <div class="col-md-3">
                            <label for="plan-name">Purpose:</label><br>
                            <input type="text" class="form-control" >
                          </div>
                          <div class="col-md-3">
                              <label for="plan-name">Creation Mode:</label><br>
                              <input type="text" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <label for="plan-name">Request Delivery Date:</label><br>
                                <input type="text" class="form-control" >
                              </div>
                      <div class="col-md-1 offset-8">
                              <br><br>
                                <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x" aria-hidden="true" data-target="#grandparentContent" data-toggle="collapse"></i>
                              </div>
                  </div>
                  <hr/>
                  <div class="row collapse" id="grandparentContent">
                                      
                      <div class="col-md-2">
                          <label for="plan-name">Item Code:</label><br>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="col-md-5">
                          <label for="plan-name">Item Description:</label><br>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="col-md-3">
                            <label for="plan-name">UOM:</label><br>
                            <input type="text" class="form-control">
                          </div>
                          
                          
                        <div class="col-md-2">
                          <label for="plan-name">Quantity:</label><br>
                          <input type="text" class="form-control">
                        </div>
                        
                        <div class="col-md-3"  style="align-content: left;position: relative; text-align: left; float: left;">
                            <br>
                            <button class="btn btn-primary filter" type="button" id="submit" >Add</button>
                          </div>

                          <div class="col-md-3"  style="align-content: left;position: relative; text-align: left; float: left;">
                              <br>
                              <button class="btn btn-primary filter" type="button" id="clear" >Clear</button>
                            </div>
                  </div>							
                </div>
            </div>
        </div>


      
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Seq No</th>
              <th>Item Code</th>
              <th>Description</th>
              <th>Qty</th>
              <th>UOM</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                  <td><input type="text" class="form-control" readonly value="1"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  
              </tr>
            
              <tr>
                  <td><input type="text" class="form-control" readonly value="2"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  <td><input type="text" class="form-control" readonly value="NA"></td>
                  
              </tr>
            </tbody>
        </table>
    </div>