<div class="dpCreate">
  <br>
   <div class="row">
     <div class="col-md-4">
        <h2>Confirmations / View</h2>
     </div>
     <div class="col-md-8">
           <a href="#" class="btn btn-primary upBtn" id="back" >Back</a>
           <!-- <button class="btn btn-primary upBtn" type="button" id="cancel" >Cancel</button>
            <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button>  -->
     </div>
  </div> 
  <br>
  <div class="row">
   <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <div class="form-inline">
                <div class="row">
            <div class="col-md-3">
              <label for="">Prod Order No:</label><br>
              <input type="text" class="form-control" id="" disabled>
            </div>
            <div class="col-md-3">
                <label for="">Step No:</label><br>
                <input type="text" class="form-control" id="" disabled>
              </div>
            <div class="col-md-3">
              <label for="">Step Description:</label><br>
              <input type="text" class="form-control" id="" disabled>
            </div>
        
            <div class="col-md-3">
              <label for="">Confirmation No:</label><br>
              <input type="text" class="form-control" id="" disabled>
            </div>
            <br><br><br>
            <div class="col-md-3">
              <label for="wh-name">WH Name:</label><br>
              <input type="text" class="form-control" id="wh-name" disabled>
            </div>
          </div>
          </div>   
        </div>
        </div>
   </div>
  </div> 
  <hr />

  <div class="row">
    <div class="col-md-12">
  <div class="list-group-item" id="grandparent">
      <table>
          <!-- <tr>
              <td>
                <div class="card">
                    <div class="card-body">
                       srno							
                    </div>
                 </div>
              </td>
          </tr>    -->
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-3">
                              <label for="">Step No:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                            </div>
                            <div class="col-md-3">
                                <label for="">Step Description:</label><br>
                                <input type="text" class="form-control" id="" disabled>
                              </div>
                            <div class="col-md-3">
                                <label for="">Step Status:</label><br>
                                <input type="text" class="form-control" id="" disabled>
                              </div>
                          <div class="col-md-3">
                            <label for="">Time UOM:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                          
                          <div class="col-md-12 pull-right">
                            <br>                           
                            <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x pull-right" aria-hidden="true" data-target="#grandparentContenta" data-toggle="collapse"></i>
                          </div>
                      </div>
             
                          
                      <div class="row collapse" id="grandparentContenta">
                          <div class="col-md-3">
                              <label for="">Planned Labour Time:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                            </div>
                          <div class="col-md-3">
                              <label for="">Actual Labour Time:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                            </div>
                          <div class="col-md-3">
                            <label for="">Planned M/C Time:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                          <div class="col-md-3">
                            <label for="">Actual M/C Time:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                         
                        
                      
                             <br><br><br><br>
                             <div class="col-md-3">
                                <label for="">Planned Setup Time:</label><br>
                                <input type="text" class="form-control" id="" disabled>
                              </div>
                           <div class="col-md-3">
                            <label for="">Actual Setup Time:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                          <div class="col-md-3">
                            <label for="">Total Planned Time:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                          <div class="col-md-3">
                            <label for="">Total Actual Time:</label><br>
                            <input type="text" class="form-control" id="" disabled>
                          </div>
                         
                         
                          
                           <br><br><br><br>
                           <div class="col-md-3">
                              <label for="">Step Type:</label><br>
                              <input type="text" class="form-control" id="" disabled> 
                            </div>
                          <div class="col-md-3">
                              <label for="">Step Category:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                            </div>
                          <div class="col-md-3">
                          <label for="">Step Status:</label><br>
                          <input type="text" class="form-control" id="" disabled>
                          </div>
                          <div class="col-md-3">
                              <label for="">Labour Type:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                              </div>
                         
                          <br><br><br><br>
                          <div class="col-md-3">
                              <label for="">User Name:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                              </div>
                              <div class="col-md-3">
                              <label for="">Supervisor Name:</label><br>
                              <input type="text" class="form-control" id="" disabled>
                              </div>
                          <div class="col-md-3">
                            <br><br>
                              <!-- <span style="margin-right:25px;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></span>
                              <span style="margin-right:25px;"><i class="fa fa-folder-open fa-2x" aria-hidden="true"></i></span> -->
                              <span><i class="fa fa-trash fa-2x" aria-hidden="true"></i></span>           
                          </div>
                      </div>							
                    </div>
                </div>
                
             
            </td>
        </tr>
<!--             
          <tr>
            <td>
              <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="">Description:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Time UOM:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Planned Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-1">
                      <br><br>
                        <i id="grandparentIcon" class="fa fa-chevron-circle-down" aria-hidden="true" data-target="#grandparentContentb" data-toggle="collapse"></i>
                      </div>
                      </div>
             
                            <br>
                            <div class="row collapse" id="grandparentContentb">
                      <div class="col-md-3">
                        <label for="">Planned M/C Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual M/C Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Planned Setup Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual Setup Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      
                      <br><br><br><br>
                      
                        <div class="col-md-3">
                        <label for="">Total Planned Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Total Actual Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Type:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Category:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      
                        <br><br><br><br>
                      
                        <div class="col-md-3">
                        <label for="">Step Status:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">User Name:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Supervisor Name:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                      <br><br>
                          <span style="margin-right:15px;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span style="margin-right:15px;"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>           
                      </div>
                      </div>							
                    </div>
                </div>
                
             
          </td>
        </tr> -->
        
      </table>   
  </div>
</div>
</div>
</div>