

<div class="dpList">
    <br>
   <div class="row">
     <div class="col-md-4">
    <h2>Routing / List</h2>
  </div>
    <div class="col-md-8">
     <a href="/routing/routing-create" class="btn btn-primary create-new"  id="create-new" >Create New</a>
    </div>
    </div>
    <br>
    <div class="form-inline row">
          <div class="col-md-3">
            <label for="item-code">Item Code:</label><br>
            <input type="text" class="form-control" id="item-code" style="width:100%">
          </div>
          
          <div class="col-md-3">
            <label for="item-description">Item Description:</label><br>
            <input type="text" class="form-control" id="item-description" style="width:100%">
          </div>
          
          <div class="col-md-3">
            <label for="version-no">Version No:</label><br>
            <input type="text" class="form-control" id="version-no" style="width:100%">
          </div>
          
          <div class="col-md-3">
            <label for="wh-name">WH Name:</label><br>
           <select class="form-control" style="width:100%">
             <option>Select</option>
             <option>A</option>      
             <option>B</option>    
            </select>
          </div>

          <div class="col-md-3">
            <br>
            <a href="#" class="btn btn-primary filter"id="filter" >Filter</a>
          </div>
      </div>
      <hr />
     
      <div class="row">
        <div class="col-md-12">
          <div class="list-group-item" id="grandparent">
              <table class="table table-responsive table-hover">
                  <thead>
                      <tr>
                        <th></th>
                        <th>Step No.</th>
                        <th>Description</th>
                        <th>Time UOM</th> 
                        <th>Planned Labour Time</th>
                        <th>Actual Labour Time</th>
                        
                  
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="clickable" >
                          <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"></i></td>
                          <td>01</td>
                          <td>Mix all ingrediants together</td>  
                          <td>Hrs</td>
                          <td>10</td>
                          <td>9</td>
                         
                      </tr>
                  </tbody>
                  <tbody id="group-of-rows-1" class="collapse">
                      <tr>
                          <th>Planned M/C Time</th>
                          <th>Actual M/C Time</th>
                          <th>Planned Setup Time</th>
                          <th>Actual Setup Time</th>
                        <th>Total Planned Time</th>
                        <th>Total Actual Time</th>
                        
                        
                      </tr>
                      <tr>
                          <td>5</td>
                          <td>5</td>
                          <td>1</td> 
                          <td>1</td>
                        <td>16</td>
                        <td>15</td>
                        
                        
                      </tr>
                      <tr>
                          <th>Step Type</th>
                          <th>Step Category</th>
                        <th>Step Status</th>
                        <th>User Name</th>
                        <th>Supervisor Name</th>
                        
                      </tr>
                      <tr>
                          <td>abc</td>
                          <td>xyz</td>
                        <td>Completed</td>
                        <td>Nilesh</td>
                        <td>Sashi</td>
                       
                        <tr>
                            <th>Edit</th>
                            <th>View</th>
                            <th>Delete</th>

                        </tr>
                        <tr>
                            <td><a href="/routing/routing-edit" ><i class="fa fa-pencil edit" aria-hidden="true"></i></a></td>
                            <td><a href="/routing/routing-view" ><i class="fa fa-folder-open view" aria-hidden="true"></i></a></td>
                            <td><i class="fa fa-trash del" aria-hidden="true"></i></td>
                        </tr>
                  </tbody>
              </table>               
          </div>
        </div>
    </div>
   
</div>