<div class="dpList">
    <br>
   <div class="row">
     <div class="col-md-4">
    <h2>Routing / List</h2>
  </div>
    <div class="col-md-8">
     <a (click)="goroutingcreate()" class="btn btn-primary create-new"  id="create-new" >Create New</a>
    </div>
    </div>
 
    <div class="form-inline row" [formGroup]="routingHeader">
          <div class="col-md-3">
            <label for="item-code">Item Code:</label><br>
            <input type="text" class="form-control" formControlName="itemcode" >
          </div>
          
          <div class="col-md-3">
            <label for="item-description">Item Description:</label><br>
            <input type="text" class="form-control" formControlName="itemdescription" >
          </div>
          
          <div class="col-md-3">
            <label for="version-no">Version No:</label><br>
            <input type="text" class="form-control" formControlName="versionno" >
          </div>
          
          <div class="col-md-3">
            <label for="wh-name">WH Name:</label><br>
           <select class="form-control" formControlName=whname>
             <option>Select</option>
             <option>A</option>      
             <option>B</option>    
            </select>
          </div>

          <div class="col-md-3">
            <br>
            <a  class="btn btn-primary filter" (click)=searchButton()>Search</a>
          </div>
      </div>
      <hr />
     
      <div class="row">
        <div class="col-md-12 list-group-item table-responsive">
         
              <table class="table table-hover">
                  <thead>
                      <tr>
                        
                        <th>Sr. No.</th>
                        <th colspan="3">Description</th>
                        <th>Version</th> 
                        <th>Edit</th>
                        <th>View</th>
                        <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                        <tr>
                                <td>01</td>
                                <td colspan="3">Bottle</td>  
                                <td>1</td>
                                <td><a (click)="goroutingedit()" ><i class="fa fa-pencil fa-1x edit" aria-hidden="true"></i></a></td>
                                <td><a (click)="goroutingview()"  ><i class="fa fa-folder-open fa-1x view" aria-hidden="true"></i></a></td>
                                <td><i class="fa fa-trash fa-1x del" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                  <td>02</td>
                                  <td colspan="3">Bottle</td>  
                                  <td>2</td>
                                  <td><a (click)="goroutingedit()" ><i class="fa fa-pencil fa-1x edit" aria-hidden="true"></i></a></td>
                                  <td><a (click)="goroutingview()"  ><i class="fa fa-folder-open fa-1x view" aria-hidden="true"></i></a></td>
                                  <td><i class="fa fa-trash fa-1x del" aria-hidden="true"></i></td>
                              </tr>
                              <tr>
                                    <td>03</td>
                                    <td colspan="3">Tiffin</td>  
                                    <td>1</td>
                                    <td><a (click)="goroutingedit()" ><i class="fa fa-pencil fa-1x edit" aria-hidden="true"></i></a></td>
                                    <td><a (click)="goroutingview()"  ><i class="fa fa-folder-open fa-1x view" aria-hidden="true"></i></a></td>
                                    <td><i class="fa fa-trash fa-1x del" aria-hidden="true"></i></td>
                                </tr>
                                <tr>
                                      <td>04</td>
                                      <td colspan="3">Tiffin</td>  
                                      <td>2</td>
                                      <td><a (click)="goroutingedit()" ><i class="fa fa-pencil fa-1x edit" aria-hidden="true"></i></a></td>
                                      <td><a (click)="goroutingview()"  ><i class="fa fa-folder-open fa-1x view" aria-hidden="true"></i></a></td>
                                      <td><i class="fa fa-trash fa-1x del" aria-hidden="true"></i></td>
                                  </tr>
                                        
                  </tbody>
                  
              </table>               
      
        </div>
    </div>
    <br>
</div>