<div class="dpList">
  <br>
  <div class="row">
    <div class="col-md-6">
       <h2>Return to Store / List</h2>
    </div>
    <div class="col-md-6">
    <a href="/return-to-store/return-to-store-create" class="btn btn-primary create-new" id="create-new" >Create New</a>
  </div>
</div>
 
    <div class="form-inline row">
          <div class="col-md-3">
            <label for="wh-name">WH Name:</label><br>
         <select class="form-control">
        <option>Select</option>
        <option>A</option>
        <option>B</option>
      </select>
          </div>
          
          <div class="col-md-3">
            <label for="item-code">Item Code:</label><br>
            <input type="text" class="form-control" id="item-code">
          </div>
          
          <div class="col-md-3">
            <label for="item-description">Item Description:</label><br>
            <input type="text" class="form-control" id="item-description">
          </div>
          <div class="col-md-3">
            <label for="store-request-no">Store Request No:</label><br>
            <input type="text" class="form-control" id="store-request-no">
          </div>
            
          <div class="col-md-3">
            <br>
            <a href="#" class="btn btn-primary filter" id="filter" >Search</a>
          </div>
      </div>
      <hr />
     <div class="row">
       <div class="col-md-12">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">RTS No #</th>
                  <th scope="col">RTS Date</th>
                  <th scope="col">RTS Status</th>
                  <th scope="col">Item Code</th>
                  <th scope="col">Returned Qty.</th>
                  <th scope="col">Received Qty.</th>
                  <th scope="col">Edit</th>
                  <th scope="col">View</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">#14-684</td>
                  <td>14/10/2018</td>
                  <td>Pending</td>
                  <td>721824</td>
                  <th>15</th>
                  <td><button type="button" class="btn btn-outline-info">Recieved : </button></td>
                  <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                  <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                  <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                </tr>
                <tr>
                  <td scope="row">#14-684</td>
                  <td>14/10/2018</td>
                  <td>Pending</td>
                  <td>721824</td>
                  <th>15</th>
                  <td><button type="button" class="btn btn-outline-info">Recieved : 10</button></td>
                  <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                  <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                  <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                </tr>
              </tbody>
            </table>
    </div>
    </div>
  </div>