
.sidenav {
  background-color: #333;
  height: 1000px;
}

.sidenav {
  background-color: #333;
}


@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
  }
  .row.content {height: auto;} 
}
.list-group-item{
    width: 100%;
    background-color: #555;
    color: #fff;
}
.list-group-item:hover{
width: 100%;
background-color: #555;
color: #fff;
}
.list-group-item:focus{
width: 100%;
background-color: #555;
color: #fff;
}

.dropbtn {
  background-color: #555;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
width: 100%;
z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #333;}