<div class="sidenav">
    <nav class="sidebar-nav">
        <ul>
        <li><a [routerLink]="['/home']" aria-expanded="false">Home</a></li> 
        </ul>
        <ul class="metismenu mmm">
            <li>
                <a href="#" aria-expanded="false">Demand Plan<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                  <li>
                      <a [routerLink]="['/demandplan/list']">List</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/demandplan/create']">Create</a>     
                    </li>
                    <li>
                      <a [routerLink]="['/demandplan/edit']">Edit</a>     
                    </li>
                    <li>
                    <a [routerLink]="['/demandplan/view']">View</a>     
                    </li>
                </ul>
              </li>
        </ul>
        <ul class="metismenu mmm" >
            <li>
                <a href="#" aria-expanded="false">Bill of Material<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                  <li>
                      <a [routerLink]="['/bill-of-material/list']">List</a>  
                    </li>
                    <li>
                      <a [routerLink]="['/bill-of-material/create']">Create</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/bill-of-material/edit']">Edit</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/bill-of-material/view']">View</a>  
                    </li>
                </ul>
              </li>
        </ul>
        <ul class="metismenu mmm">
            <li>
                <a href="#" aria-expanded="false">Routing<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                  <li>
                      <a [routerLink]="['/routing/routing-list']">List</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/routing/routing-create']">Create</a> 
                      </li>
                    <li>
                        <a [routerLink]="['/routing/routing-edit']">Edit</a>     
                      </li>
                    <li>
                        <a [routerLink]="['/routing/routing-view']">View</a>
                      </li>
                </ul>
              </li>
        </ul>
        <ul class="metismenu mmm" >
            <li>
                <a href="#" aria-expanded="false">Production Order<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                    <li>
                        <a [routerLink]="['/production-order/list']">List</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/production-order/create']">Create</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/production-order/edit']">Edit</a>     
                    </li>
                    <li>
                        <a [routerLink]="['/production-order/view']">View</a>
                    </li>
                </ul>
            </li>
        </ul>
          <ul class="metismenu mmm">
              <li>
                  <a href="#" aria-expanded="false">MRP<span class="fa arrow"></span></a>
                  <ul aria-expanded="false">
                    <li>
                        <a [routerLink]="['/mrp/list']">List</a>     
                      </li>
                      <li>
                          <a [routerLink]="['/mrp/run']">Run</a>    
                        </li>
                  </ul>
                </li>
          </ul>
          <ul class="metismenu mmm" >
              <li>
                  <a href="#" aria-expanded="false">Purchase Requisition<span class="fa arrow"></span></a>
                  <ul aria-expanded="false">
                      <li>
                          <a [routerLink]="['/purchase-requisition/list']">List</a>     
                      </li>
                      <li>
                              <a [routerLink]="['/purchase-requisition/create']">Create</a>     
                      </li>
                      <li>
                              <a [routerLink]="['/purchase-requisition/edit']">Edit</a>     
                      </li>
                      <li>
                              <a [routerLink]="['/purchase-requisition/view']">View</a>     
                      </li>
                  </ul>
                  </li>
              </ul>
        <ul class="metismenu mmm" >
            <li>
                <a href="#" aria-expanded="false">Store Request<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                  <li>
                    <a [routerLink]="['/store-request/store-request-list']">List</a>     
                  </li>
                  <li>
                    <a [routerLink]="['/store-request/store-request-create']">Create</a>        
                  </li>
                  <li>
                    <a [routerLink]="['/store-request/store-request-edit']">Edit</a>        
                  </li>
                  <li>
                    <a [routerLink]="['/store-request/store-request-view']"> View</a>           
                  </li>
              </ul>
              </li>
        </ul>
        <ul class="metismenu mmm" >
            <li>
                <a href="#" aria-expanded="false">Store Issue<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                  <li>
                    <a [routerLink]="['/store-issue/store-issue-list']"> List</a>  
                  </li>
                  <li>
                    <a [routerLink]="['/store-issue/store-issue-create']">Create</a>             
                  </li>
                  <li>
                    <a [routerLink]="['/store-issue/store-issue-edit']">Edit</a>         
                  </li>
                  <li>
                    <a [routerLink]="['/store-issue/store-issue-view']"> View</a>               
                  </li>
              </ul>
              </li>
        </ul>  
        <ul class="metismenu mmm" >
          <li>
              <a href="#" aria-expanded="false">Return to Store<span class="fa arrow"></span></a>
              <ul aria-expanded="false">
                <li>
                  <a [routerLink]="['/return-to-store/return-to-store-list']"> List</a>  
                </li>
                <li>
                  <a [routerLink]="['/return-to-store/return-to-store-create']">Create</a>             
                </li>
                <li>
                  <a [routerLink]="['/return-to-store/return-to-store-edit']">Edit</a>         
                </li>
                <li>
                  <a [routerLink]="['/return-to-store/return-to-store-view']"> View</a>               
                </li>
            </ul>
            </li>
        </ul>                 
        <ul class="metismenu mmm" >
                <li>
                        <a href="#" aria-expanded="false">Purchase Requisition<span class="fa arrow"></span></a>
                <ul aria-expanded="false">
                    <li>
                        <a [routerLink]="['/purchase-requisition/list']">List</a>     
                    </li>
                    <li>
                            <a [routerLink]="['/purchase-requisition/create']">Create</a>     
                    </li>
                    <li>
                            <a [routerLink]="['/purchase-requisition/edit']">Edit</a>     
                    </li>
                    <li>
                            <a [routerLink]="['/purchase-requisition/view']">View</a>     
                    </li>
                </ul>
                </li>
        </ul>               
        <ul class="metismenu mmm" >
                <li>
                <a href="#" aria-expanded="false">Confirmation<span class="fa arrow"></span></a>

                    <ul aria-expanded="false">
                        <li>
                            <a [routerLink]="['/confirmation/production-order']">Production Order</a>     
                        </li>
                        <li>
                            <a [routerLink]="['/confirmation/confirmation-list']">List</a>     
                        </li>
                        <li>
                                <a [routerLink]="['/confirmation/confirmation-bulk']">Bulk</a>     
                        </li>
                        <li>
                                <a [routerLink]="['/confirmation/confirmation-edit']">Edit</a>     
                        </li>
                        <li>
                                <a [routerLink]="['/confirmation/confirmation-view']">View</a>     
                        </li>
                    </ul>
                </li>
        </ul>
  </nav>
</div>
