<div class="sidenav">
  <div class="list-group" id="list-tab" role="tablist">
      <a [routerLink]="['/home']" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>     
      <a [routerLink]="['/about']" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">About</a>     
      <a [routerLink]="['/demandplan']" class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Demand Plan</a>     
  </div>
</div>