<div class="dpCreate">
    <br>
      <div class="row">
        <div class="col-md-4">
    <h2>Demand Plan / Edit</h2>
  </div>
  <div class="col-md-8">
    <a href="/demandplan/list" class="btn btn-primary upBtn" id="back" >Back</a>
    <a href="#" class="btn btn-primary upBtn" id="cancel" >Cancel</a>
    <a href="#" class="btn btn-primary upBtn"  id="submit">Update</a>
  </div>
  </div>
  
    <div class="form-inline row">
        <div class="col-md-3">
          <label for="plan-name">Plan Name:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">Plan No:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        <div class="col-md-3">
            <label for="plan-name">For Mrp:</label><br>
            <select class="form-control chzn-select" style="width:100%" style="width:100%">
                <option value=""> Select</option>
                <option value="">Yes</option>
                <option value="">No</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
            <select class="form-control chzn-select" style="width: 100%" >
                <option value=""> Select</option>
                <option value=""> A</option>
                <option value=""> B</option>
            </select>
            
          </div>
          <br><br><br>
          <div class="dropdown col-md-3">
            <label for="reason-code">Status:</label><br>
            <select class="form-control chzn-select" style="width: 100%">
              <option value=""> Select</option>
              <option value=""> A</option>
              <option value=""> B</option>
          </select>
          </div>
          <div class="col-md-3">
              
              <label>Version No:</label>
              <input type="text" class="form-control"  style="width:100%">
            </div>
        <div class="col-md-3">
          <br>
            <button class="btn btn-primary filter create" type="button" id="submit" >Search</button>
        </div>
    </div>
    <hr />
    <div class="row">
   <div class="col-md-12">
    <table class="table table-responsive table-hover">
      <thead>
          <tr><th></th><th>FG Item No.</th><th>FG Item Desc.</th><th>BUOM</th> <th>JAN</th>
            <th>FEB</th><th>MAR</th><th>APR</th></tr>
      </thead>
      <tbody>
        <tr class="clickable" >
              <td><i class="fa fa-plus btn" aria-hidden="true" data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false"></i></td>
              <td>8004321</td>
              <td>Bisleri Bottles</td>  
              <td><input type="text" class="data" size="5" value="Litre" readonly style="border : 0"></td>
              <td><input type="text" class="data" size="5"></td>
              <td><input type="text" class="data" size="5"></td>
              <td><input type="text" class="data" size="5"></td>
              <td><input type="text" class="data" size="5"></td>
          
          </tr>
      </tbody>
      <tbody id="group-of-rows-1" class="collapse">
        <tr>
          <th></th>
          <th>MAY</th>
          <th>JUN</th>
          <th>JUL</th>
          <th>AUG</th>
          <th>SEP</th>
          <th>OCT</th>
          <th>NOV</th>
        </tr>
        <tr>
          <td><i class="fainvi" aria-hidden="true" ></i></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
          <td><input type="text" class="data" size="5"></td>
        </tr>
        <tr>
          <th><i class="fainvi" aria-hidden="true" ></i></th>
          <th>DEC</th>
          <th colspan="2">Delete</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><i class="fainvi" aria-hidden="true" ></i></td>
          <td><input type="text" class="data" size="5"></td>
          <td colspan="2"><button type="button" class="btn btn-danger">
              <i class="fa fa-trash"></i>Delete</button></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  </div>
  </div>
  </div>