.tdp{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}
.mast-navbar{
  overflow: hidden;

}
.mast-container{
  max-height: 1000px;
  overflow-x: hidden;
}