<div class="dpList">
  <br>
  <div class="row">
     <div class="col-md-4">
     <h2>BOM / List</h2>
     </div>
    <div class="col-md-8">

    <a (click)="gobomcreate()" class="btn btn-primary create-new" id="create-new" >Create New</a>
  </div>
</div>
    <div class="form-inline row">
          <div class="col-md-3">
            <label for="plan-name">Item Code:</label><br>
            <input type="text" class="form-control" >
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">Item Description:</label><br>
            <input type="text" class="form-control" >
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BOM No:</label><br>
            <input type="text" class="form-control" >
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">Status:</label><br>
            <select class="form-control" >
              <option>Select</option>
              <option>A</option>
              <option>B</option>
              </select>
          </div>
          <br><br><br>
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
            <select class="form-control" >
            <option>Select</option>
            <option>A</option>
            <option>B</option>
            </select>
          </div>
          
          <div class="col-md-3">
            <br>
            <button class="btn btn-primary create" type="button">Search</button>
          </div>
      </div>
      <hr />

      <div class="row">
          <div class="col-md-12 table-responsive ">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">BOM No.</th>
                      <th scope="col">BOM Status</th>
                      <th scope="col">WH Name</th>
                      <th scope="col">Item Code</th>
                      <th scope="col">Item Description</th>
                      <th scope="col">Last Edited</th>
                      <th scope="col">Last Edited By</th>
                      <th>Edit</th>
                      <th>View</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <th scope="row">#4006483</th>
                      <td>Created</td>
                      <td>Fracktal Work</td>
                      <td>KEM-PSP4</td>
                      <td>Kisan Engineering Mold Plastic Single Phase 4 Layer upto 1Hp (2 SET)</td>
                      <td>Rohit</td> 
                      <td>14/10/2018</td>                     
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                      <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                    </tr>
                    <tr >
                      <th scope="row">#4006484</th>
                      <td>Created</td>
                      <td>Fracktal Work</td>
                      <td>KEM-PSP4</td>
                      <td>Kisan Engineering Mold Plastic Single Phase 4 Layer upto 1Hp (2 SET)</td>
                      <td>Kamlesh</td> 
                      <td>14/10/2018</td>                     
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                      <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                    </tr>
                  </tbody>
                </table>
           </div>
        </div> 
        <br>
        <br>
        <br>


     


  </div>
