<div class="dpList">
  <br>
  <h2>Bill of Material / List</h2>
    <button class="btn btn-primary create-new" type="button" id="create-new" >Create New</button>
    <br><br>
    <div class="form-inline">
          <div class="col-md-2">
            <label for="plan-name">Item Code:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-4">
            <label for="plan-name">Item Description:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BOM NO:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">Status:</label><br>
            <input type="text" class="form-control" readonly value="Draft">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-3"  style="align-content: left;position: relative; text-align: left; float: left;">
            <br>
            <button class="btn btn-primary filter" type="button" id="filter" >Search</button>
          </div>
      </div>
      <hr />

      <table class="table table-hover">
        <thead >
          <tr>
            <th></th>
            <th>WH Name</th>
            <th>Item Code</th>
            <th>Item Description</th>
            <th>BOM No</th>
            <th>BOM Status</th>
            <th>Last Changed</th>
            <th>Last Changed By</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><i class="fa fa-industry" aria-hidden="true"></i></td>
              <td>Chaitanya Mali , Vashi</td>
              <td>D004-S4-N1-5454</td>
              <td>Swades Inc.'s PMSN Goods</td>
              <td>800652</td>
              <td>Draft</td>
              <td>02/10/2018 16:25:36</td>
              <td>Jai Surya</td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
  </div>