<div class="dpList">
    <br>
    <div class="row">
        <div class="col-md-4">
    <h2>BOM / Create</h2>
    </div>
    <div class="col-md-8">
    <a (click)="gobomlist()" class="btn btn-primary upBtn"  id="back" >Back</a>
    <a  class="btn btn-primary upBtn"  >Cancel</a>
    <a  class="btn btn-primary upBtn" (click)="showSuccess()" id="submit" >Submit</a>  
  </div>
  </div>
  
      <form class="form-inline row" formGroup="headerBOMCreateForm">
            <div class="col-md-3">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control" formControlName="itemCode">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control" formControlName="itemDescription">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Quantity:</label><br>
              <input type="text" class="form-control" formControlName="quantity">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">BUOM:</label><br>
              <input type="text" class="form-control" formControlName="buom">
            </div>
            <br><br><br><br>
            <div class="col-md-3">
              <label for="plan-name">BOM Version:</label><br>
              <input type="text" class="form-control" readonly value="2" formControlName="bomVersion">
            </div>
            <div class="col-md-3">
              <label for="plan-name">BOM No:</label><br>
              <input type="text" class="form-control" readonly value="399" formControlName="bomNumber">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">BOM Status:</label><br>
              <input type="text" class="form-control" readonly value="Draft" formControlName="bomStatus">
            </div>
            <div class="col-md-3">
                <label for="plan-name">WH Name:</label><br>
                <select class="form-control" formControlName="whName">
                  <option>Select</option>
                  <option>A</option>
                  <option>B</option>
                </select>
              </div>
              <div class="col-md-3">
                  <br>
                  <label for="plan-name">BOM Level:</label>   
                  <input type="number" class="form-control" value="1" min="1" max="99999" formControlName="bomLevel">
                </div>
                <div class="col-md-3">
                    <br><br>
                    <button (click)="getHeader()" class="btn btn-primary"> Insert Header</button>
                  </div>
                  <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                      </div>
              <div class="col-md-12"><hr/></div>
                
              <div class="col-md-6 offset-md-3">
                    <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fa fa-search"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search Materials...">
                          </div>
                  </div>
            
        </form>
        
      <div  class="row list " id="myDIV" style="padding-top: 10px">
          <div class="row">
              <div class="col-md-4 heightish">
                <div class="container ">
                  <ul class="list-group">
                        <li class="list-group-item searchItem ripple">
                                <div class="row">
                                    <div class="col-md-11">
                                        Stainless Steel Sheet Roles(12 SET)
                                    </div>
                                 
                                </div>
                            </li>
                            <li class="list-group-item searchItem ripple">
                                <div class="row">
                                    <div class="col-md-11">
                                        3D Printing .85 mm filament 10 M 
                                    </div>
                                    
                                </div>
                            </li>
                            <li class="list-group-item searchItem ripple">
                                <div class="row">
                                    <div class="col-md-11">
                                        Brass Sheet Roles (25 SET)
                                    </div>
                                   
                                </div>
                            </li>     <li class="list-group-item searchItem ripple">
                                    <div class="row">
                                        <div class="col-md-11">
                                            Stainless Steel Sheet Roles(12 SET)
                                        </div>
                                     
                                    </div>
                                </li>
                                <li class="list-group-item searchItem ripple">
                                    <div class="row">
                                        <div class="col-md-11">
                                            3D Printing .85 mm filament 10 M 
                                        </div>
                                        
                                    </div>
                                </li>
                                <li class="list-group-item searchItem ripple">
                                    <div class="row">
                                        <div class="col-md-11">
                                            Brass Sheet Roles (25 SET)
                                        </div>
                                       
                                    </div>
                                </li>     <li class="list-group-item searchItem ripple">
                                        <div class="row">
                                            <div class="col-md-11">
                                                Stainless Steel Sheet Roles(12 SET)
                                            </div>
                                         
                                        </div>
                                    </li>
                                    <li class="list-group-item searchItem ripple">
                                        <div class="row">
                                            <div class="col-md-11">
                                                3D Printing .85 mm filament 10 M 
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li class="list-group-item searchItem ripple">
                                        <div class="row">
                                            <div class="col-md-11">
                                                Brass Sheet Roles (25 SET)
                                            </div>
                                           
                                        </div>
                                    </li>     <li class="list-group-item searchItem ripple">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Stainless Steel Sheet Roles(12 SET)
                                                </div>
                                             
                                            </div>
                                        </li>
                                        <li class="list-group-item searchItem ripple">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    3D Printing .85 mm filament 10 M 
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li class="list-group-item searchItem ripple">
                                            <div class="row">
                                                <div class="col-md-11">
                                                    Brass Sheet Roles (25 SET)
                                                </div>
                                               
                                            </div>
                                        </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-8 heightish">
                <div class="card container-fluid bg-white ">
                    <div class="card-body">
                        <h5 class="card-title">Item Code: <span id="spanish">#400862</span></h5>
                        <h6 class="card-subtitle ">Item Category : <span id="status">Medium Level Raw Material</span></h6><br>
                        <div class="row " style="margin-bottom: 30px;">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label for="qty">Quantity :</label><br>
                            <div class="input-group" id="qty">
                                <input type="number"  class="form-control" min="0" max="5" id="number_quantity" value="1" min="1" max="9999999999">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label for="uom">BUOM :</label><br>
                            <div class="input-group" id="uom">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <label for="qty">By Product :</label><br>
                                <div class="onoffswitch4">
                                <input type="checkbox" name="onoffswitch4" class="onoffswitch4-checkbox" id="myonoffswitch4" checked>
                                <label class="onoffswitch4-label" for="myonoffswitch4">
                                    <span class="onoffswitch4-inner"></span>
                                    <span class="onoffswitch4-switch"></span>
                                </label>
                                </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 offset-8">
                            <br>
                                <button type="button" class="btn btn-info" (click)="showAdded()">Add</button>
                        </div>
                    </div>
                    </div>
                    </div>
             </div>
        
          </div>
    </div>

    <!-- <div class="sunflower">
        <div class="col-md-12">
            <button class="btn btnsf btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Total items in cart : <span class="badge badge-light">5</span>
            </button></div>
          <div class="collapse col-md-12" id="collapseExample">
            <div class="cart">
                 <h6 class="searchItem ripple">My Cart : </h6>
                  <ul class="list-group">
                    <li class="list-group-item searchItem ripple">
                       <h5 class="card-title">Item Code: <span id="spanish">#400862</span></h5>
                       <h6 class="card-subtitle ">Item Category : <span id="status">Medium Level Raw Material</span></h6><br>
                        <div class="row">
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label for="qty">Quantity :</label><br>
                                    <div class="input-group" id="qty">
                                        <input type="text" class="form-control input-number" value="1"readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">BUOM :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">By Product :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" value="YES" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 del">
                                    <br>
                                      <button class="btn btn-danger delete" (click)="showDelete()">Delete</button>                         
    
                                </div>
                        </div>
                    </li>
                    <li class="list-group-item searchItem ripple">
                       <h5 class="card-title">Item Code: <span id="spanish">#400862</span></h5>
                       <h6 class="card-subtitle ">Item Category : <span id="status">Medium Level Raw Material</span></h6><br>
                        <div class="row">
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label for="qty">Quantity :</label><br>
                                    <div class="input-group" id="qty">
                                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="100" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">BUOM :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">By Product :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" value="YES" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 del">
                                    <br>
                                      <button class="btn btn-danger delete" >Delete</button>                         
    
                                </div>
                        </div>
                    </li>
                    <li class="list-group-item searchItem ripple">
                       <h5 class="card-title">Item Code: <span id="spanish">#400862</span></h5>
                       <h6 class="card-subtitle ">Item Category : <span id="status">Medium Level Raw Material</span></h6><br>
                        <div class="row">
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label for="qty">Quantity :</label><br>
                                    <div class="input-group" id="qty">
                                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="100" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">BUOM :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">By Product :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" value="YES" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 del">
                                    <br>
                                      <button class="btn btn-danger delete" >Delete</button>                         
    
                                </div>
                        </div>
                    </li>
                    <li class="list-group-item searchItem ripple">
                       <h5 class="card-title">Item Code: <span id="spanish">#400862</span></h5>
                       <h6 class="card-subtitle ">Item Category : <span id="status">Medium Level Raw Material</span></h6><br>
                        <div class="row">
                               <div class="col-md-4 col-sm-4 col-xs-4">
                                    <label for="qty">Quantity :</label><br>
                                    <div class="input-group" id="qty">
                                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="100" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">BUOM :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    <label for="uom">By Product :</label><br>
                                    <div class="input-group" id="uom">
                                        <input type="text" class="form-control" value="YES" readonly>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-4 del">
                                    <br>
                                      <button class="btn btn-danger delete" >Delete</button>                         
    
                                </div>
                        </div>
                    </li>
                </ul>
          </div>
        </div>
    </div> -->
    <br>
    <br>
</div>
