<div class="dpList">
  <br>
  <div class="row">
      <div class="col-md-4">
  <h2>BOM / Create</h2>
  </div>
  <div class="col-md-8">
  <a href="/bill-of-material/list" class="btn btn-primary upBtn"  id="back" >Back</a>
  <button class="btn btn-primary upBtn" type="button" >Cancel</button>
  <button class="btn btn-primary upBtn" type="button" id="submit" >Submit</button>  
</div>
</div>
<br>
    <div class="form-inline row">
          <div class="col-md-2">
            <label for="plan-name">Item Code:</label><br>
            <input type="text" class="form-control" formControlName="itemCode">
          </div>
          
          <div class="col-md-5">
            <label for="plan-name">Item Description:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-2">
            <label for="plan-name">Quantity:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BUOM:</label><br>
            <input type="text" class="form-control">
          </div>
          <br><br><br><br>
          <div class="col-md-2">
            <label for="plan-name">BOM Version:</label><br>
            <input type="text" class="form-control" readonly value="2">
          </div>
          <div class="col-md-2">
            <label for="plan-name">BOM No:</label><br>
            <input type="text" class="form-control" readonly value="399">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BOM Status:</label><br>
            <input type="text" class="form-control" readonly value="Draft">
          </div>
          <div class="col-md-4">
            <label for="plan-name">WH Name:</label><br>
            <select class="form-control" style="width: 100%">
              <option>Select</option>
              <option>A</option>
              <option>B</option>
            </select>
          </div>
          
      </div>
      <hr />


      <div class="row">
        <div class="col-md-12">      
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                      <th></th>
                      <th>Sr No.</th>
                      <th>Component Description</th>
                      <th>Component Qty</th>
                      <th>UOM</th>
                      <th>Qty in BUOM</th>
                      <th>Base UOM</th>
                      <th>Item Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickable" >
                        <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"></i></td>
                        <td>1</td>
                        <td>Milk Powder</td>
                        <td>70</td>
                        <td>gm</td>
                        <td>70</td>
                        <td>gm</td>
                        <td>Inv</td>
                    </tr>
                </tbody>
                <tbody id="group-of-rows-1" class="collapse">
                    <tr>
                       
                        <th>Item Category</th>
                        <th>By Product</th>
          
                    </tr>
                    <tr>
                        
                        <td>Procured</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
         </div>
      </div> 
  </div>