<div class="dpList">
  <br>
  <div class="row"> 
    <div class="col-md-6">
      <h2>Store Request / View</h2>
    </div> 
    <div class="col-md-6">
      <a href="/store-request/store-request-list" class="btn btn-primary upBtn" id="back" >Back</a>
    </div>
</div>

  <div class="form-inline row">
      <div class="col-md-3">
        <label for="wh-name">WH Name:</label><br>
        <input type="text" class="form-control" id="wh-name" disabled>
      </div>
      
      <div class="col-md-3">
        <label for="user-name">User Name:</label><br>
        <input type="text" class="form-control" id="user-name" disabled>
      </div>
      
      <div class="col-md-3">
        <label for="item-code">Item Code:</label><br>
        <input type="text" class="form-control" id="item-code" disabled>
      </div>
      
      <div class="col-md-3">
        <label for="item-decription">Item Description:</label><br>
        <input type="text" class="form-control" id="item-decription" disabled>
      </div>
      <br> <br> <br> <br>
      <div class="col-md-3">
        <label for="requested-qty">Requested Qty:</label><br>
        <input type="text" class="form-control" id="requested-qty" disabled>
      </div>
       <div class="col-md-3">
        <label for="requested-by">Requested By:</label><br>
        <input type="text" class="form-control" id="requested-by" disabled>
      </div>
      <div class="col-md-3">
        <label for="buom">BUOM:</label><br>
        <input type="text" class="form-control" id="buom" disabled>
      </div>
      <div class="col-md-3">
        <label for="reason-code">Reason Code:</label><br>
        <select class="form-control chzn-select" disabled>
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>

      <br> <br> <br> <br>
      <div class="col-md-3">
        <label for="prod-order-no">Prod Order No:</label><br>
        <input type="text" class="form-control" id="prod-order-no" disabled>
      </div>

      <div class="dropdown col-md-3">
        <label for="work-centre">Work Centre</label><br>
        <select class="form-control chzn-select" disabled>
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>
      <div class="dropdown col-md-3">
        <label for="cost-centre">Cost Centre</label><br>
        <select class="form-control chzn-select"  disabled>
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>
      
  </div>

  
</div>