<div class="dpList">
    <br>
  <div class="row">
    <div class="col-md-4">
        <h2>Bill of Material / Edit</h2>
    </div>
    <div class="col-md-8">
        <a href="/bill-of-material/list" class="btn btn-primary upBtn" id="back" >Back</a>
      <a href="#" class="btn btn-primary upBtn" id="cancel" >Cancel</a>
      <a href="#" class="btn btn-primary upBtn" id="submit" >Update</a>
    </div>
  </div>
  
      <div class="form-inline row">
            <div class="col-md-3">
              <label for="plan-name">WH Name:</label><br>
              <select class="form-control">
                <option>Select</option>
                <option>A</option>
                <option>B</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control"  readonly value="39920">
            </div>
            
            <div class="col-md-5">
                <label for="plan-name">Item Description:</label><br>
                <input type="text" class="form-control">
              </div>
              
            <div class="col-md-2">
              <label for="plan-name">Quantity:</label><br>
              <input type="text" class="form-control"  readonly value="230">
            </div>
            <br><br><br><br>
            <div class="col-md-3">
              <label for="plan-name">BUOM:</label><br>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
              <label for="plan-name">BOM Version:</label><br>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-2">
              <label for="plan-name">BOM No:</label><br>
              <input type="text" class="form-control">
            </div>
            
            <div class="dropdown col-md-3">
                <label for="status">Status</label><br>
                <select class="form-control chzn-select"  formControlName="status">
                  <option value="Select"> Select</option>
                  <option value="A"> A</option>
                  <option value="B"> B</option>
              </select>
              </div>
              
            <!-- <div class="col-md-2">
              <br>
              <button class="btn btn-primary filter create" type="button" id="filter" >Update</button>
            </div> -->
        </div>
        <hr />
  
        <div class="row">
          <div class="col-md-12 table-responsive ">
              <table class="table table-hover">
                  <thead>
                      <tr>
                        <th></th>
                        <th>Sr No.</th>
                        <th>WH Name</th>
                        <th>Component Description</th>
                        <th>Component Qty</th>
                        <th>UOM</th>
                        <th>Qty in BUOM</th>
                        <th>Base UOM</th>
                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="clickable" >
                          <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"></i></td>
                          <td>1</td>
                          <td>Aarey Colony</td>
                          <td>Milk Powder</td>
                          <td>70</td>
                          <td>gm</td>
                          <td>70</td>
                          <td>gm</td>
                        
                      </tr>
                  </tbody>
                  <tbody id="group-of-rows-1" class="collapse">
                      <tr>
                          <th>Item Type</th>
                          <th>Item Category</th>
                          <th>By Product</th>
            
                      </tr>
                      <tr>
                          <td>Inv</td>
                          <td>Procured</td>
                          <td>Yes</td>
                      </tr>
                  </tbody>
              </table>
      </div>
    </div>
    </div>