    .row.content {height: 1500px}
    
    .sidenav {
      background-color: #333;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
      }
      .row.content {height: auto;} 
    }
    .list-group-item{
        width: 100%;
        background-color: #555;
        color: dimgray;
    }
    .navbar{
        width: 100%;
        background-color: #555;
        color: dimgray;
    }
    
.list-group-item:hover{
    width: 100%;
    background-color: #555;
    color: #fff;
}
.list-group-item:focus{
    width: 100%;
    background-color: #555;
    color: #fff;
}

  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .btn-primary{
      margin: 10px;
  }

  .table{
    width: 100%;
}
.rsHeader{
    
    background: #dcdcdc;
}