<div class="container-fluid" style="overflow-y : hidden">
    
    <div id="top">
        <!-- .navbar -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="col-md-2">
                    <header class="navbar-header">

                        
                        <a href="#!/Home" class="navbar-brand" style="min-width:100px ;background:#fff; border-radius:1em"><img src="/Content/assets/img/Logo.png" style="width:150px; height:45px; padding:4px" alt="">
                        BKMIST</a>
                        <span></span>


                    </header>
                </div>
                <div class="col-md-10">
                    
                    <div class="topnav  pull-right">

                        <div class="btn-group">
                            <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip"
                               class="btn btn-default btn-sm" id="toggleFullScreen">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            
                            <a data-placement="bottom" data-original-title="MyAccount" href="#!/MyAccount" data-toggle="tooltip"
                               class="btn btn-default btn-sm">
                                <i class="fa fa-user" aria-hidden="true"></i>&nbsp; My Account
                                
                            </a>
                            
                        </div>
                        <div class="btn-group">
                            <a href="#!/logout" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom"
                               class="btn btn-metis-1 btn-sm">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </div>
                        <div class="btn-group">
                            

                        </div>

                    </div>

                </div>
            </div>
        </nav>
        <!-- /.navbar -->


  </div>
<div class="container-fluid" style="overflow : hidden" >
    <div class="row content" >
      <div class="col-sm-2 sidenav" style="overflow : hidden">
          <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Item #1</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Item #2</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Item #3</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item #4</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Item #2</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Item #3</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item #4</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Item #2</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Item #3</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item #4</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Item #2</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Item #3</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Item #4</a>
            </div>
      </div>
      
    <div class="col-sm-10 main">
     <div class="container-fluid"> 
  <nav class="navbar navbar-inverse rsHeader">
    <div class="container-fluid">
        <form class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Item Name">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Bill No.">
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Customer Name">      
          <select type="email" class="form-control  mb-2 mr-sm-2" id="" aria-describedby="emailHelp" placeholder="Enter Status">
              <option>Active</option>
              <option>Inactive</option>
            </select>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
            <button type="submit" class="btn btn-primary mb-2">Edit</button>
          </form>
    </div>
  </nav>
  <div class="container-fluid rsHeader">    
    <div class="row">
      <div class="col-sm-12">
          <table class="table">
              <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr> -->
              </tbody>
            </table>
      </div>
  </div><br>
  
       </div>
      
    </div>
</div>
</div>
<div class="container-fluid" >
</div>