<div class="dpCreate">
    <br>
    <div class="row">
    <div class="col-md-4">
    <h2>Demand Plan / View</h2>
    </div>
    <div class="col-md-8">
    <a href="/demandplan/list"class="btn btn-primary upBtn" id="back" >Back</a>
    </div>
   </div>
    
    <div class="form-inline row">
        <div class="col-md-3">
          <label for="plan-name">Plan Name:</label><br>
          <input type="text" class="form-control" style="width: 100%" id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">Plan No:</label><br>
          <input type="text" class="form-control" style="width: 100%" id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">For Mrp:</label><br>
          <input type="text" class="form-control" style="width: 100%" id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">WH Name:</label><br>
          <input type="text" class="form-control" style="width: 100%" id="plan-name" readonly>
        </div>
        <br><br><br><br>
        <div class="col-md-3">
            <label for="">Status:</label><br>
            <input type="text" class="form-control" style="width: 100%" id="" readonly>
          </div>
        <div class="col-md-3">
              
            <label>Version No:</label>
            <input type="text" class="form-control" style="width:100%" readonly>
          </div>
        <!-- <div class="col-md-3">
          <br>
            <button class="btn btn-primary filter" type="button" id="submit" >Search</button>
        </div> -->
    </div>
    <hr />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-hover">
        <thead>
            <tr><th></th><th>FG Item No.</th><th>FG Item Description</th><th>BUOM</th> <th>JAN</th>
              <th>FEB</th><th>MAR</th><th>APR</th></tr>
        </thead>
        <tbody>
            <tr class="clickable" >
                <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"></i></td>
                <td>8004321</td>
                <td>Bisleri Bottles</td>  
                <td>Litre</td>
                <td><input type="text" class="data" size="5" readonly></td>
                <td><input type="text" class="data" size="5" readonly></td>
                <td><input type="text" class="data" size="5" readonly></td>
                <td><input type="text" class="data" size="5" readonly></td>
            
            </tr>
        </tbody>
        <tbody id="group-of-rows-1" class="collapse">
            <tr>
              <th>MAY</th>
              <th>JUN</th>
              <th>JUL</th>
              <th>AUG</th>
              <th>SEP</th>
              <th>OCT</th>
              <th>NOV</th>
              <th>DEC</th>
             
  
            </tr>
            <tr>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>
              <td><input type="text" class="data" size="5" readonly></td>   
              
            </tr>
        </tbody>
    </table>
  </div>
</div>
  </div>