<div class="dpList">
    <br>
    <div class="row">
    <div class="col-md-4">
    <h2>Demand Plan / View</h2>
    </div>
    <div class="col-md-8">
    <a href="/demandplan/list"class="btn btn-primary upBtn" id="back" >Back</a>
    </div>
   </div>
    
    <div class="form-inline row">
        <div class="col-md-3">
          <label for="plan-name">Plan Name:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">Plan No:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">For Mrp:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        
        <div class="col-md-3">
          <label for="plan-name">WH Name:</label><br>
          <input type="text" class="form-control"  id="plan-name" readonly>
        </div>
        <br><br><br><br>
        <div class="col-md-3">
            <label for="">Status:</label><br>
            <input type="text" class="form-control"  id="" readonly>
          </div>
        <div class="col-md-3">
              
            <label>Version No:</label>
            <input type="text" class="form-control" style="width:100%" readonly>
          </div>
        <!-- <div class="col-md-3">
          <br>
            <button class="btn btn-primary filter" type="button" id="submit" >Search</button>
        </div> -->
    </div>
    <hr />
  <div class="row">
    <div class="col-md-12 heightish">
      <div class="card container-fluid bg-white ">
          <div class="card-body">
               <div class="card-title">
                     <h5 class="card-title">FG Item No.: <span id="spanish">#400862</span></h5>
                      <h6 class="card-subtitle ">FG Item Description : <span id="status">Medium Level Generic Product</span></h6>
               </div>
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                      <h6>BUOM</h6>
                      <input readonly type="text" class="form-control"  value="KG">
                  </div>
              </div>
              <br>

               <div class="row">
                  <div class="col-md-3 col-sm-4">
                      <h6>JAN</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>FEB</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>MAR</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>APR</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>MAY</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>JUN</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>JUL</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>AUG</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>SEP</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>OCT</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>NOV</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                  <div class="col-md-3 col-sm-4">
                      <h6>DEC</h6>
                      <input readonly type="text" class="form-control" value="10" >
                  </div>
                </div>
          </div>
          </div>
      <br>
      <br>
   </div>
</div>
  </div>