<div class="dpList">
    <br>
    <div class="row">
    <div class="col-md-4">
       <h2>Confirmation/ Edit</h2>
    </div>
    <div class="col-md-8">
    <a href="#" class="btn btn-primary upBtn" id="cancel" >Cancel</a>
    <a href="#" class="btn btn-primary upBtn" id="submit" >Submit</a> 
  </div>
  </div>
      <br>
      <div class="form-inline row">
          <div class="card">
              <div class="card-body">
                <div class="row">
                      <div class="col-md-3">
                        <label for="plan-name">Prod Order No:</label><br>
                        <input type="text" class="form-control" >
                      </div>
                      <div class="col-md-3">
                          <label for="plan-name">Step No:</label><br>
                          <select class="form-control chzn-select">
                              <option value=""> Select</option>
                              <option value=""> A</option>
                              <option value=""> B</option>
                    
                          </select>
                      </div>
                      <div class="col-md-3">
                          <label for="plan-name">Step Description:</label><br>
                            <select class="form-control chzn-select">
                                <option value=""> Select</option>
                                <option value=""> A</option>
                                <option value=""> B</option>
                      
                            </select>
                      </div>
                      <div class="col-md-3">
                          <label for="plan-name">Confirmation No:</label><br>
                          <input type="text" class="form-control" >
                      </div>
                       <br><br><br><br>
                      <div class="col-md-3">
                            <label for="plan-name">WH Name:</label><br>
                            <select class="form-control chzn-select">
                                <option value=""> Select</option>
                                <option value=""> A</option>
                                <option value=""> B</option>
                      
                            </select>
                      </div>                         
                      <div class="col-md-3" >
                            <label>Final Confirmation:</label><br>
                            <input type="checkbox" class="chbx">
                      </div>                       
                      <div class="col-md-2">
                            <label for="plan-name">Qty:</label><br>
                            <input type="text" class="form-control" >
                      </div>                         
                      <div class="col-md-2">
                          <label for="plan-name">Qty Produced:</label><br>
                          <input type="text" class="form-control" >
                      </div>
                      <div class="col-md-2">
                          <label for="plan-name">BUOM:</label><br>
                          <input type="text" class="form-control" >
                      </div>                  
                </div>
              </div>
          </div>
      </div>
      <hr>
        
  <div class="list-group-item" id="grandparent">
      <table>
          <!-- <tr>
              <td>
                <div class="card">
                    <div class="card-body">
                       srno							
                    </div>
                 </div>
              </td>
          </tr>    -->
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                      <div class="row">
                          <div class="col-md-3">
                              <label for="">Step No:</label><br>
                              <input type="text" class="form-control" id="" >
                            </div>
                            <div class="col-md-3">
                                <label for="">Step Description:</label><br>
                                <input type="text" class="form-control" id="" >
                              </div>
                            <div class="col-md-3">
                                <label for="">Step Status:</label><br>
                                <input type="text" class="form-control" id="" >
                              </div>
                          <div class="col-md-3">
                            <label for="">Time UOM:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                          
                          <div class="col-md-12">  
                            <br>                         
                            <i id="grandparentIcon" class="fa fa-chevron-circle-down fa-2x pull-right" aria-hidden="true" data-target="#grandparentContenta" data-toggle="collapse"></i>
                          </div>
                      </div>
             
                          
                      <div class="row collapse" id="grandparentContenta">
                          <div class="col-md-3">
                              <label for="">Planned Labour Time:</label><br>
                              <input type="text" class="form-control" id="" >
                            </div>
                          <div class="col-md-3">
                              <label for="">Actual Labour Time:</label><br>
                              <input type="text" class="form-control" id="" >
                            </div>
                          <div class="col-md-3">
                            <label for="">Planned M/C Time:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                          <div class="col-md-3">
                            <label for="">Actual M/C Time:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                             <br><br><br><br><br>
                             <div class="col-md-3">
                                <label for="">Planned Setup Time:</label><br>
                                <input type="text" class="form-control" id="" >
                              </div>
                           <div class="col-md-3">
                            <label for="">Actual Setup Time:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                          <div class="col-md-3">
                            <label for="">Total Planned Time:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                          <div class="col-md-3">
                            <label for="">Total Actual Time:</label><br>
                            <input type="text" class="form-control" id="" >
                          </div>
                           <br><br><br><br><br>
                           <div class="col-md-3">
                              <label for="">Step Type:</label><br>
                              <input type="text" class="form-control" id="" > 
                            </div>
                          <div class="col-md-3">
                              <label for="">Step Category:</label><br>
                              <input type="text" class="form-control" id="" >
                            </div>
                          <div class="col-md-3">
                          <label for="">Step Status:</label><br>
                          <input type="text" class="form-control" id="" >
                          </div>
                          <div class="col-md-3">
                              <label for="">Labour Type:</label><br>
                              <input type="text" class="form-control" id="" >
                              </div>
                         
                          <br><br><br><br><br>
                          <div class="col-md-3">
                              <label for="">User Name:</label><br>
                              <input type="text" class="form-control" id="" >
                              </div>
                              <div class="col-md-3">
                              <label for="">Supervisor Name:</label><br>
                              <input type="text" class="form-control" id="" >
                              </div>
                          <div class="col-md-3">
                            <br><br>
                              <!-- <span style="margin-right:25px;"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></span>
                              <span style="margin-right:25px;"><i class="fa fa-folder-open fa-2x" aria-hidden="true"></i></span> -->
                              <!-- <span><i class="fa fa-trash fa-2x" aria-hidden="true"></i></span>            -->
                          </div>
                      </div>							
                    </div>
                </div>
                
             
            </td>
        </tr>
<!--             
          <tr>
            <td>
              <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label for="">Description:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Time UOM:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Planned Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-1">
                      <br><br>
                        <i id="grandparentIcon" class="fa fa-chevron-circle-down" aria-hidden="true" data-target="#grandparentContentb" data-toggle="collapse"></i>
                      </div>
                      </div>
             
                            <br>
                            <div class="row collapse" id="grandparentContentb">
                      <div class="col-md-3">
                        <label for="">Planned M/C Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual M/C Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Planned Setup Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual Setup Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      
                      <br><br><br><br>
                      
                        <div class="col-md-3">
                        <label for="">Total Planned Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Total Actual Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Type:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Category:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      
                        <br><br><br><br>
                      
                        <div class="col-md-3">
                        <label for="">Step Status:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">User Name:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Supervisor Name:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                      <br><br>
                          <span style="margin-right:15px;"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span style="margin-right:15px;"><i class="fa fa-folder-open" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>           
                      </div>
                      </div>							
                    </div>
                </div>
                
             
          </td>
        </tr> -->
        
      </table>   
  </div>
</div>   


           
    


