<div class="dpCreate">
  <br>
    <div class="row">
      <div class="col-md-6">
          <h2>Store Issue / Create</h2>
      </div>
      <div class="col-md-6">
          <a href="/store-issue/store-issue-list" class="btn btn-primary upBtn" id="back" >Back</a>
          <a href="#" class="btn btn-primary upBtn" id="cancel" >Cancel</a>
          <a href="#" class="btn btn-primary upBtn" id="submit" >Submit</a> 
      </div>
    </div>
  <br>
  <div class="form-inline row">
      <div class="col-md-3">
        <label for="wh-name">WH Name:</label><br>
        <select class="form-control">
          <option>Select</option>
          <option>A</option>
          <option>B</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="sr-no">SR No:</label><br>
        <input type="text" class="form-control" id="sr-no">
      </div>
      <div class="col-md-3">
        <label for="sales-order">Sales Order</label><br>
        <input type="text" class="form-control" id="sales-order">
      </div>
      <div class="col-md-3">
        <label for="prod-order">Prod Order:</label><br>
        <input type="text" class="form-control" id="prod-order">
      </div>
      <br> <br> <br><br>
      <div class="col-md-3">
        <label for="item-code">Item Code:</label><br>
        <input type="text" class="form-control" id="item-code">
      </div>  
      <div class="col-md-3">
        <label for="item-decription">Item Description:</label><br>
        <input type="text" class="form-control" id="item-decription">
      </div>
      <div class="col-md-3">
        <label for="requested-qty">Requested Qty:</label><br>
        <input type="text" class="form-control" id="requested-qty">
      </div>
       <div class="col-md-3">
        <label for="requested-by">Requested By:</label><br>
        <input type="text" class="form-control" id="requested-by">
      </div>
      <br> <br> <br>
      <div class="col-md-3">
        <label for="buom">BUOM:</label><br>
        <input type="text" class="form-control" id="buom">
      </div>
      <div class="col-md-3">
        <label for="reason-code">Reason Code:</label><br>
        <select class="form-control chzn-select">
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>
      <div class="dropdown col-md-3">
        <label for="work-centre">Work Centre</label><br>
        <select class="form-control chzn-select">
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>
      <div class="dropdown col-md-3">
        <label for="cost-centre">Cost Centre</label><br>
        <select class="form-control chzn-select">
          <option value=""> Select</option>
          <option value=""> A</option>
          <option value=""> B</option>

      </select>
      </div>
      <br><br><br><br>
      <div class="col-md-6">
        <label for="comments">Comments</label><br>
        <textarea class="form-control" rows="2" cols="2" style="resize: none;"></textarea>
      </div>
        
      <div class="col-md-3">
        <br>
          <a href="#" class="btn btn-primary filter" id="submit" >Create</a>
      </div>
  </div>

  
</div>