<div class="dpList">
    <br>
    <div class="row">
          <div class="col-md-8">
               <h2>PO / List</h2>
          </div>
          <div class="col-md-4">
            <a href ="/production-order/create" class="btn btn-primary upBtn" id="create" >Create New</a>
          </div>
    </div>
      <br>
      <div class="form-inline row">
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
            <select class="form-control" style="width: 100%;">
              <option>Select</option>
              <option>A</option>
              <option>B</option>
            </select>
          </div>

            <div class="col-md-2">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            
            <div class="col-md-4">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Order Type:</label><br>
              <input type="text" class="form-control"  style="width: 100%;">
            </div>
            
            <br><br><br><br>
            <div class="col-md-3">
              <label for="plan-name">Order Status:</label><br>
              <select class="form-control" style="width: 100%;">
                  <option>Select</option>
                  <option>A</option>
                  <option>B</option>
                </select>
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Sales Order:</label><br>
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            <div class="col-md-3">
              <label for="plan-name">Demand Plan:</label><br>
              <input type="text" class="form-control" style="width: 100%;">
            </div>
            
            <div class="col-md-3">
              <br>
                <a href="#" class="btn btn-primary dBtn"  id="create" >Search</a>
            </div> 
      </div>
        <hr />

        <div class="row">
          <div class="col-md-12 table-responsive ">
              <table class="table table-hover">
                  <thead>
                      <tr>
                        <th></th>
                        <th>Order No</th>
                        <th>Order Type</th>
                        <th>Header Status</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>UOM</th> 
                        <th>SO No</th>
                        <th>DP No</th> 
                      
                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="clickable" >
                          <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-1" aria-expanded="false" aria-controls="group-of-rows-1"></i></td>
                          <td>52112</td>
                          <td>ABC</td>
                          <td>XYZ</td>
                          <td>800652</td>
                          <td>Bottles</td>
                          <td>zxx</td>
                          <td>Pcs</td>
                          <td>154220</td>
                          <td>24151</td>
                      
                      </tr>
                  </tbody>
                  <tbody id="group-of-rows-1" class="collapse">
                      <tr>
                          
                          
                          <th>Confirmation</th>
                          <th>Edit</th> 
                          <th>View</th> 
                          <th>Delete</th>       
                      </tr>
                      <tr>
                          
                        
                          <td><a href="#" class="btn btn-primary">Create</a></td>
                          <td style="text-align:center"> <a href="/production-order/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a></td>
                          <td style="text-align:center"> <a href="/production-order/view"> <i class="fa fa-folder-open view" aria-hidden="true"></i></a></td>  
                          <td style="text-align:center"><i class="fa fa-trash del" aria-hidden="true"></i></td>
                      </tr> 
                  </tbody>



                  <thead>
                      <tr>
                        <th></th>
                        <th>Order No</th>
                        <th>Order Type</th>
                        <th>Header Status</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>UOM</th> 
                        <th>SO No</th>
                        <th>DP No</th> 
                      
                        
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="clickable" >
                          <td><i class="fa fa-plus" aria-hidden="true"data-toggle="collapse" data-target="#group-of-rows-2" aria-expanded="false" aria-controls="group-of-rows-2"></i></td>
                          <td>52112</td>
                          <td>ABC</td>
                          <td>XYZ</td>
                          <td>800652</td>
                          <td>Bottles</td>
                          <td>zxx</td>
                          <td>Pcs</td>
                          <td>154220</td>
                          <td>24151</td>
                      
                      </tr>
                  </tbody>
                  <tbody id="group-of-rows-2" class="collapse">
                      <tr>
                          
                          
                          <th>Confirmation</th>
                          <th>Edit</th> 
                          <th>View</th> 
                          <th>Delete</th>       
                      </tr>
                      <tr>
                          
                        
                          <td><a href="#" class="btn btn-primary">Create</a></td>
                          <td style="text-align:center"> <a href="/production-order/edit"><i class="fa fa-pencil edit" aria-hidden="true"></i></a></td>
                          <td style="text-align:center"> <a href="/production-order/view"> <i class="fa fa-folder-open view" aria-hidden="true"></i></a></td>  
                          <td style="text-align:center"><i class="fa fa-trash del" aria-hidden="true"></i></td>
                      </tr> 
                  </tbody>
              </table>
           </div>
        </div> 



    </div>