<div class="dpList">
    <br>
    <div class="row">
          <div class="col-md-8">
               <h2>PO / List</h2>
          </div>
          <div class="col-md-4">
            <a class="btn btn-primary upBtn" id="create" >Create New</a>
          </div>
    </div>
    
      <div class="form-inline row">
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
            <select class="form-control" >
              <option>Select</option>
              <option>A</option>
              <option>B</option>
            </select>
          </div>

            <div class="col-md-2">
              <label for="plan-name">Item Code:</label><br>
              <input type="text" class="form-control" >
            </div>
            
            <div class="col-md-4">
              <label for="plan-name">Item Description:</label><br>
              <input type="text" class="form-control" >
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Order Type:</label><br>
              <input type="text" class="form-control"  >
            </div>
            
            <br><br><br><br>
            <div class="col-md-3">
              <label for="plan-name">Order Status:</label><br>
              <select class="form-control" >
                  <option>Select</option>
                  <option>A</option>
                  <option>B</option>
                </select>
            </div>
            
            <div class="col-md-3">
              <label for="plan-name">Sales Order:</label><br>
              <input type="text" class="form-control" >
            </div>
            <div class="col-md-3">
              <label for="plan-name">Demand Plan:</label><br>
              <input type="text" class="form-control" >
            </div>
            
            <div class="col-md-3">
              <br>
                <a class="btn btn-primary dBtn"  id="create" >Search</a>
            </div> 
      </div>
        <hr />

        <div class="row">
          <div class="col-md-12 table-responsive ">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Order No#</th>
                      <th scope="col">Order Type</th>
                      <th scope="col">Item Code</th>
                      <th scope="col">Item Desc.</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Status</th>
                      <th scope="col">Edit</th>
                      <th scope="col">View</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <th scope="row">#52112</th>
                      <td>Bulk</td>
                      <td>800652</td>
                      <td nowrap>Kisan Engineering Mold Plastic Single Phase 4 Layer upto 1Hp (2 SET)</td>
                      <td>15</td>
                      <td>Drafted</td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                      <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                    </tr>
                    <tr>
                      <th scope="row">#52113</th>
                      <td>Bulk</td>
                      <td>800652</td>
                      <td >Dravid Engineering Mold Copper Single Phase 16 Layer upto 1Hp (24 SET)</td>
                      <td>150</td>
                      <td>Drafted</td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                      <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button></td>
                      <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                    </tr>
                  </tbody>
                </table>
           </div>
        </div> 
        <br>
        <br>
        <br>
        

    </div>