 
 <br>
 <h1>Production Planning</h1>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <h4>Demand Planning</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/view']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Bill of Material</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/bill-of-material/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/bill-of-material/create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/bill-of-material/Edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/bill-of-material/view']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Routing</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Production Order</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <h4>MRP</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Store Request</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Store Issue</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Return to Store</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          <h4>Purchase Requisition</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Confirmation</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-deep-purple-500 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
    </div>
</div>