 <div class="dplist">
 <br>
 <h1>Production Planning</h1>
<div class="container">
    <div class="row">
      <div class="col-md-3">
          <h4>Demand Planning</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/demandplan/create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/demandplan/edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/demandplan/view']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Bill of Material</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/bill-of-material/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/bill-of-material/create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/bill-of-material/edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/bill-of-material/view']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Routing</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/routing/routing-list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/routing/routing-create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/routing/routing-edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/routing/routing-view']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Production Order</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/production-order/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/production-order/create']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/production-order/edit']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-200 btn-lg" [routerLink]="['/production-order/view']">View</a>
                </li>
            </ul>
            </div>
      </div>
   
      <div class="col-md-3">
          <h4>MRP</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/mrp/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/mrp/run']">Run</a>
                </li>
                <br>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Store Request</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Store Issue</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Return to Store</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-400 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
    
    
      <div class="col-md-3">
          <h4>Purchase Requisition</h4><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
      <div class="col-md-3">
          <h4>Confirmation</h4><br><br>
          <div class="onesie">
            <ul>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">List</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">Create</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">Edit</a>
                </li>
                <br>
                <li>
                    <a href="#" title="" class="btn btn-raised btn-md-teal-600 btn-lg" [routerLink]="['/demandplan/list']">View</a>
                </li>
            </ul>
            </div>
      </div>
    </div>
<br><br>
</div>
</div>