 
 <br>
 <h1>BOM - Bill of Material</h1>

<nav class="navbar navbar-inverse rsHeader">
   <div class="container-fluid">
       <form class="form-inline">
           <label class="sr-only" for="inlineFormInputName2">Name</label>
           <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Item Name">
           <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Bill No.">
           <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Customer Name">      
         <select type="email" class="form-control  mb-2 mr-sm-2" id="" aria-describedby="emailHelp" placeholder="Enter Status">
             <option>Active</option>
             <option>Inactive</option>
           </select>
           <button type="submit" class="btn btn-primary mb-2">Submit</button>
           <button type="submit" class="btn btn-primary mb-2">Edit</button>
         </form>
   </div>
 </nav>
 <div class="mast-line"></div>
 <div class="container-fluid rsHeader">    
   <div class="row">
     <div class="col-sm-12">
         <table class="table">
             <thead>
               <tr>
                   <th scope="col">Item Name</th>
                   <th scope="col">Bill No.</th>
                   <th scope="col">Customer Name</th>
                   <th scope="col">Status</th>
               </tr>
             </thead>
             <tbody>
               <!-- <tr>
                 <th scope="row">1</th>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>@mdo</td>
               </tr>
               <tr>
                 <th scope="row">2</th>
                 <td>Jacob</td>
                 <td>Thornton</td>
                 <td>@fat</td>
               </tr>
               <tr>
                 <th scope="row">3</th>
                 <td>Larry</td>
                 <td>the Bird</td>
                 <td>@twitter</td>
               </tr> -->
             </tbody>
           </table>
     </div>
 </div><br>
 
</div>     
