<div class="dpList">
    <br>
    <div class="row">
      <div class="col-md-4">
         <h2>Confirmations/ List</h2>
      </div>
      <div class="col-md-8">
          <a href="#" class="btn btn-primary create-new" id="create-new" >Create New</a>
      </div>
    </div>
    <div class="form-inline row">
        <div class="col-md-3">
          <label for="">Prod Order No:</label><br>
          <input type="text" class="form-control" id="">
        </div>
        <div class="col-md-3">
            <label for="">Step No:</label><br>
            <input type="text" class="form-control" id="">
          </div>
        <div class="col-md-3">
          <label for="">Step Description:</label><br>
          <input type="text" class="form-control" id="">
        </div>
        
        <div class="col-md-3">
          <label for="">Confirmation No:</label><br>
          <input type="text" class="form-control" id="">
        </div>
        <br><br><br><br>
        <div class="col-md-3">
            <label for="">Sales Order:</label><br>
            <input type="text" class="form-control"  id="">
          </div>
          <div class="col-md-3">
              <label for="">Demand Plan:</label><br>
              <input type="text" class="form-control"  id="">
            </div>
        <div class="col-md-3">
          <label for="">WH Name:</label><br>
          <select class="form-control">
            <option>Select</option>
            <option>A</option>
            <option>B</option>
          </select>
        </div>

        <div class="col-md-3">
          <br>
          <a href="#" class="btn btn-primary filter"  id="filter">Search</a>
        </div>
    </div>
    <hr />
    <div class="row">
 <div class="col-md-12">
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">Confirmation List</h5>

              <button class="btn btn-info pull-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                +
              </button>
            
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th scope="col">Item Code</th>
                              <th scope="col">Item Description</th>
                              <th scope="col">Prod Order No.</th>
                              <th scope="col">Status</th>                     
                              <th>Edit</th>
                              <th>View</th>
                              <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr >
                            <th scope="row">#52112</th>
                            <td>Bottle</td>
                            <td>50</td>
                            <td>Inprocess</td>                               
                            <td><button type="button" class="btn btn-outline-info" ><i class="fa fa-pencil"></i>Edit</button></td>
                            <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye" data-toggle="collapse" data-target="#collapseTwo"></i>View</button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                          </tr>
                          <tr >
                              <th scope="row">#53522</th>
                              <td>Bag</td>
                              <td>56</td>
                              <td>Inprocess</td>                               
                              <td><button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button></td>
                              <td><button type="button" class="btn btn-outline-info"><i class="fa fa-eye" data-toggle="collapse" data-target="#collapseTwo"></i>View</button></td>
                              <td><button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button></td>
                            </tr>
                        </tbody>
                      </table>
                 </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
              <h5 class="mb-0">Confirmation Details</h5>

              <button class="btn btn-info pull-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                +
              </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                   
    <div class="form-inline row" id="up_1">
        <div class="col-md-4">
          <label for="">Step No:</label><br>
          <input type="text" class="form-control" id="" readonly>
        </div>
        <div class="col-md-4">
            <label for="">Item Description:</label><br>
            <input type="text" class="form-control" id="" readonly>
          </div>
        <div class="col-md-4">
          <label for="">Actual Time</label><br>
          <input type="text" class="form-control" id="" readonly>
        </div>
        
    </div>
    <div class="col-md-12"><br></div>
    <div class="col-md-12 table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                  <th scope="col">Step No.</th>
                  <th scope="col">Item Description</th>
                  <th scope="col">Actual Time</th>
                  <th scope="col">Details</th>                     
                  
              </tr>
            </thead>
            <tbody>
              <tr >
                <th scope="row">20</th>
                <td>Bottle</td>
                <td>5 Hrs</td>
                <td><button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseThree">Details</button></td>                               
                
              </tr>
              <tr >
                  <th scope="row">30</th>
                  <td>Bag</td>
                  <td>6 Hrs</td>
                  <td><button type="button" class="btn btn-outline-info" data-toggle="collapse" data-target="#collapseThree">Details</button></td>                               
                  
                </tr>
            </tbody>
          </table>
     </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
              <h5 class="mb-0">Item Details</h5>

              <button class="btn btn-info pull-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                +
              </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Confirmation No:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                    <div class="col-md-3">
                        <label for="">Last Changed By:</label><br>
                        <input type="text" class="form-control" id="">
                    </div>
                    <div class="col-md-3">
                        <label for="">Last Changed Date:</label><br>
                        <input type="text" class="form-control" id="">
                    </div>

                    <div class="col-md-3">
                      <label for="">Step No:</label><br>
                      <input type="text" class="form-control" id="">
                    </div>
                </div>
      
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <label for="">Step Status:</label><br>
                        <input type="text" class="form-control" id="">
                        </div>
                    <div class="col-md-3">
                        <label for="">Time UOM:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Planned Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Actual Labour Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                  
                
                      <br><br><br><br>
                      <div class="col-md-3">
                          <label for="">Planned M/C Time:</label><br>
                          <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-3">
                          <label for="">Actual M/C Time:</label><br>
                          <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-3">
                          <label for="">Planned Setup Time:</label><br>
                          <input type="text" class="form-control" id="">
                        </div>
                        <div class="col-md-3">
                          <label for="">Actual Setup Time:</label><br>
                          <input type="text" class="form-control" id="">
                        </div>
                  
                    
                    <br><br><br><br>
                    <div class="col-md-3">
                        <label for="">Total Planned Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Total Actual Time:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Type:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <div class="col-md-3">
                        <label for="">Step Category:</label><br>
                        <input type="text" class="form-control" id="">
                      </div>
                      <br> <br> <br> <br>
                    <div class="col-md-3">
                    <label for="">Step Status:</label><br>
                    <input type="text" class="form-control" id="">
                    </div>
                    <div class="col-md-3">
                        <label for="">Labour Type:</label><br>
                        <input type="text" class="form-control" id="">
                        </div>
                    <div class="col-md-3">
                    <label for="">User Name:</label><br>
                    <input type="text" class="form-control" id="">
                    </div>
                    <div class="col-md-3">
                    <label for="">Supervisor Name:</label><br>
                    <input type="text" class="form-control" id="">
                    </div>
                    <br><br><br><br>
                    <div class="col-md-12">
                      <br>
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i>Edit</button>
                      <button type="button" class="btn btn-outline-info"><i class="fa fa-eye"></i>View</button>
                      <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Delete</button>          
                    </div>
                </div>			
            </div>
          </div>
        </div>
      </div>
 
</div>

    
    </div>
    
 
    
</div>
