<div class="dpList">
    <br>
    <div class="row">
      <div class="col-md-4">
          <h2>PO / Edit</h2>
      </div>
      <div class="col-md-8"> 
         <span class="btn btn-primary upBtn" id="cancel" >Back</span>
         <span  class="btn btn-primary upBtn" id="submit" >Cancel</span>
        <span (click)="showSuccess()" class="btn btn-primary upBtn" id="submit" >Update</span>
      </div>
    </div> 
   
      <div class="form-inline row">
          <div class="col-md-3">
            <label for="plan-name">Item Code:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-4">
            <label for="plan-name">Item Description:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-2">
            <label for="plan-name">Quantity:</label><br>
            <input type="text" class="form-control">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BUOM:</label><br>
            <input type="text" class="form-control">
          </div>
          <br><br><br>
          <div class="col-md-2">
              <label for="plan-name">Order No:</label><br>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="plan-name">Order Type:</label><br>
                <input type="text" class="form-control">
              </div>
              <div class="col-md-2">
                  <label for="plan-name">Item Qty:</label><br>
                  <input type="text" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="plan-name">UOM:</label><br>
                    <input type="text" class="form-control">
                  </div>
          <!-- <div class="col-md-2">
            <label for="plan-name">BOM Version:</label><br>
            <input type="text" class="form-control" readonly value="2">
          </div>
          <div class="col-md-2">
            <label for="plan-name">BOM No:</label><br>
            <input type="text" class="form-control" readonly value="399">
          </div>
          
          <div class="col-md-3">
            <label for="plan-name">BOM Status:</label><br>
            <input type="text" class="form-control" readonly value="Draft">
          </div> -->
          <div class="col-md-3">
            <label for="plan-name">WH Name:</label><br>
           <select class="form-control">
             <option>Select</option>
             <option>A</option>
             <option>B</option>
           </select>
          </div>
          <br><br><br><br>
          <div class="col-md-3">
              <label for="plan-name">Sales Order:</label><br>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="plan-name">Demand Plan:</label><br>
                <input type="text" class="form-control">
              </div>
          <!-- <div class="col-md-3">
            <br>
            <a href="#" class="btn btn-primary filter" id="filter" >Update</a>
          </div> -->
      </div>
        <hr />
    <div class="row">
        <div class="col-md-4 lig">
            <h5>Production Order Steps :</h5>
            <hr/>
            <div class="list-group">
                <a class="list-group-item list-group-item-action">Step #1</a>
                <a class="list-group-item list-group-item-action">Step #2</a>
                <a class="list-group-item list-group-item-action">Step #3</a>
                <a class="list-group-item list-group-item-action">Step #4</a>
                <a class="list-group-item list-group-item-action">Step #5</a>
                <a class="list-group-item list-group-item-action">Step #6</a>
                <a class="list-group-item list-group-item-action">Step #7</a>
                <a class="list-group-item list-group-item-action">Step #8</a>
                <a class="list-group-item list-group-item-action">Step #9</a>
                <a class="list-group-item list-group-item-action">Step #10</a>
                <a class="list-group-item list-group-item-action">Step #11</a>
                <a class="list-group-item list-group-item-action">Step #12</a>
              </div>
        </div>
        <div class="col-md-8 gil">
            <h4>Step Details: </h4>
            <div class="card">
                <div class="card-body">
                  <div class="container">
                      <div id="primary" class="row">
                        <div class= "col-md-4" scope="row">
                            <label for="plt">Step No#</label>
                            <input type="number" id="plt" class="form-control pocTableInput" >
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="pat">Description</label>
                            <input type="time" id="pat" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="pmt">Work Centre</label>
                            <input type="time" id="pmt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ptt">Actual Labour Time</label>
                            <input type="time" id="ptt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ptt">Actual Machine Time</label>
                            <input type="time" id="ptt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ptt">Actual Setup Time</label>
                            <input type="time" id="ptt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ptt">Total Actual Time</label>
                            <input type="time" id="ptt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <br>
                            <a href="#secondary" class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="secondary">
                              <span class="collapsed">
                                Show more
                              </span>
                              <span class="expanded">
                                Show Less
                              </span>
                            </a>
                
                        </div>
                      </div>
                      <br>
                      <div id="secondary" class="row collapse" >
                        <div class= "col-md-4" scope="row">
                            <label for="plt">Planned Labour Time</label>
                            <input type="time" id="plt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="pat">Planned Actual Time</label>
                            <input type="time" id="pat" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="pmt">Planned Machine Time</label>
                            <input type="time" id="pmt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ptt">Planned Total Time</label>
                            <input type="time" id="ptt" class="form-control pocTableInput"  placeholder="HH:MM">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="st">Step Type</label><br>
                            <input type="text" id="st" class="form-control pocTableInput"  placeholder="Step Type">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="sc">Step Category</label><br>
                            <input type="text" id="sc" class="form-control pocTableInput"  placeholder="Step Cat.">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="ss">Step Status</label><br>
                            <input type="text" id="ss" class="form-control pocTableInput"  placeholder="Step Status">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="un">User Name </label><br>
                            <input type="text" id="un" class="form-control pocTableInput"  placeholder="Step Status">
                        </div>
                        <div class= "col-md-4" scope="row">
                            <label for="sun">Supervisor Name </label><br>
                            <input type="text" id="sun" class="form-control pocTableInput"  placeholder="Step Status">
                        </div>
                        <div class= "col-md-6" scope="row">
                          <br>
                            <button type="button" class="btn btn-success tlt" (click)="showStepAdded()">Update</button>
                        </div>
                        <div class= "col-md-6" scope="row">
                          <br>
                            <button type="button" class="btn btn-danger tlt" (click)="showStepAdded()">Delete Step</button>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br>
</div>